
{% set path_main_image %}
    {% path event.mainImage, 'medium' %}
{% endset %}
<div class="image" style="background:url({% if path_main_image|trim %}{{ path_main_image }}{% else %}/bundles/app/img/common_event.png{% endif %}););">
    <div class="eye"></div>
</div>
<div class="description">
    <div class="date">{{ event.createEvent|localizeddate('long', 'none', null, null, 'd MMMM') }}</div>
    <a href="{{ path('events_view', {'url': event.url}) }}"
       class="title">{{ event.name }}</a>
    {% if event.getMinPrice %}
        <div class="price">{{ event.getMinPrice }}Р</div>
    {% endif %}
    <div class="ratig">
        <span>Рейтинг:</span>

        <div class="wrapRating">
            {% if event.avgRating > 0 %}
                {% for i in 1..event.avgRating %}
                    <div></div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="ratingToolTip">
            <span>Организация мепроприятия:</span>

            <div class="wrapRating">
                {% if event.avgQuality > 0 %}
                    {% for i in 1..event.avgQuality %}
                        <div></div>
                    {% endfor %}
                {% endif %}
            </div>
            <span>Насыщенность программы:</span>

            <div class="wrapRating">
                {% if event.avgSaturation > 0 %}
                    {% for i in 1..event.avgSaturation %}
                        <div></div>
                    {% endfor %}
                {% endif %}
            </div>
            <span>Интересность:</span>

            <div class="wrapRating">
                {% if event.avgInterestingness > 0 %}
                    {% for i in 1..event.avgInterestingness %}
                        <div></div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>
</div>