<div class="feedWrap">
    <div>
        {% set path_main_image %}
            {% path event.mainImage, 'medium' %}
        {% endset %}
        <div class="image"
             style="background:url({% if path_main_image|trim %}{{ path_main_image }}{% else %}/bundles/app/img/common_event.png{% endif %}); ">
            <div class="action">
                <a href="{{ path('personal_area_company.desktop', {'event': event.id}) }}" class="workingdesk"></a>
                <a href="{{ path('personal_area_company.events.edit', {'event': event.id, 'type': 'edit'}) }}"
                   class="edit"></a>
                <a href="javascript:void(0)" class="removeEvent" data-id="{{ event.id }}"></a>
            </div>
            <a href="{{ path('events_view', {'url': event.url}) }}">
                <div class="eye"></div>
            </a>
        </div>
        <div class="description">
            {% if not event.isActive %}
                <div class="notIsActive">Мероприятие не прошло модерацию</div>
            {% endif %}
            <div class="date">{{ event.createEvent|localizeddate('long', 'none', null, null, 'd MMMM') }}</div>
            <a href="{{ path('events_view', {'url': event.url}) }}"
               class="title">{{ event.name }}</a>
            {% if event.getMinPrice %}
                <div class="price">{{ event.getMinPrice }}Р</div>
            {% endif %}
            <div class="ratig">
                <span>Рейтинг:</span>

                <div class="wrapRating">
                    {% if event.avgRating > 0 %}
                        {% for i in 1..event.avgRating %}
                            <div></div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="ratingToolTip">
                    <span>Организация мепроприятия:</span>

                    <div class="wrapRating">
                        {% if event.avgQuality > 0 %}
                            {% for i in 1..event.avgQuality %}
                                <div></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <span>Насыщенность программы:</span>

                    <div class="wrapRating">
                        {% if event.avgSaturation > 0 %}
                            {% for i in 1..event.avgSaturation %}
                                <div></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <span>Интересность:</span>

                    <div class="wrapRating">
                        {% if event.avgInterestingness > 0 %}
                            {% for i in 1..event.avgInterestingness %}
                                <div></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>