{% extends '::registrate.html.twig' %}


{% block body %}
    {% if not app.user %}
        <div class="autorizateWrap" id="restore-pass" style="display: none;">
            <div class="blackOverlay">
                <h2>Восстановление пароля</h2>
                {{ render(controller('ApplicationSonataUserBundle:ResettingFOSUser2:request', { embeddedForm: true})) }}

                <div class="toRegister">
                    <a href="javascript:void(0);" data-href="#autorizate" class="link_other_form">Авторизация</a>
                    |
                    <a href="javascript:void(0);" data-href="#registrate" class="link_other_form">Регистрация</a>
                </div>
            </div>
        </div>
        <div class="autorizateWrap" id="autorizate">
            <div class="blackOverlay login">
                <h2>Авторизация</h2>

                {{ include('UloginAuthBundle::widget.html.twig', { "uLoginID": "4974d296", 'request': app.request, 'active': true }) }}
                <div class="or">Или</div>

                {{ render(controller('ApplicationSonataUserBundle:SecurityFOSUser2:login')) }}
                <div class="toRegister">
                <span>Нет еще личного кабинета? <a href="javascript:void(0);" data-href="#registrate"
                                                   class="link_other_form">Зарегистрируйтесь</a></span>

                    <div class="center">
                        <a href="javascript:void(0);" data-href="#restore-pass" class="link_other_form">Забыли
                            пароль?</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="autorizateWrap" id="registrate" {% if not app.user %}style="display: none;"{% endif %}>
        <div class="blackOverlay">
            <h2>Регистрация</h2>

            {% if not app.user %}
                <div class="step1">
                    <h4>Вы:</h4>

                    <div class="radiobox">
                        <input checked="checked" type="radio" id="userType1" name="userType" value="1">
                        <label for="userType1"><i></i>Пользователь</label>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor</span>
                    </div>
                    <div class="radiobox">
                        <input type="radio" id="userType2" name="userType" value="2">
                        <label for="userType2"><i></i>Организатор</label>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor</span>
                    </div>
                </div>
                <div class="step2_user" style="display: none;">
                    <h4>Вы: Пользователь</h4>

                    {% render controller("ApplicationSonataUserBundle:RegistrationFOSUser2:register") %}
                </div>
            {% endif %}
            <div class="step2" {% if app.user %}style="display: block;"{% endif %}>
                <h4>Вы: <span id="how_you">{% if app.user %}Организатор{% endif %}</span></h4>
                <span>Город</span>

                <form action="">
                    <div class="vloj">
                        <div class="radiobox">
                            <input type="radio" id="city1" name="organizer" value="state-organization">
                            <label for="city1"><i></i>Государственная организация</label>
                        </div>
                        <div class="radiobox">
                            <input type="radio" id="city2" name="organizer" value="charity-organisations">
                            <label for="city2"><i></i>Благотворительные организации</label>
                        </div>
                        <div class="radiobox">
                            <input type="radio" id="city3" name="organizer" value="social-movement">
                            <label for="city3"><i></i>Общественное движение</label>
                        </div>
                    </div>
                    <div class="radiobox">
                        <input type="radio" id="city4" name="organizer" value="organizer">
                        <label for="city4"><i></i>Организация</label>
                    </div>
                    <div class="radiobox">
                        <input checked="checked" type="radio" id="city5" name="organizer" value="individual">
                        <label for="city5"><i></i>Физическое лицо</label>
                    </div>
                </form>
            </div>
            <div class="center">
                <div class="blueButton registerStep" id="nextStep">Далее</div>
            </div>
            {% if not app.user %}
                <div class="toRegister">
                    <a href="javascript:void(0);" data-href="#autorizate" class="link_other_form">Авторазиция</a>
                    |
                    <a href="javascript:void(0);" data-href="#restore-pass" class="link_other_form">Забыли
                        пароль?</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% if not app.user %}
        <div class="fancy-popup-modal" id="restore-pass_success">
            <div class="modalBlock">
                <div class="fancy-close close"></div>
                <h3>Восстановление пароля</h3>

                <div class="clear border"></div>
                <p>На указанную Вами почту было отправлено письмо с сылкой на восстановление пароля</p>

                <div class="clear border"></div>
                <div class="blueButton fancy-close">Закрыть</div>
            </div>
        </div>
    {% endif %}
{% endblock %}