{% extends '::base.html.twig' %}

    {% block leftColumn %}
        <div class="leftColumn">
            <div class="inner">
                <h2>Лента города</h2>
                <span class="menuTitle">Фильтр</span>
            </div>
            <ul class="left_menu">
                <li {% if app.request.attributes.get('_route') == 'feed_homepage' and app.request.get('type') == 'all' %}class="active"{% endif %}>
                    <a href="{{ path('feed_homepage', {'type': 'all'}) }}">
                        <div class="inner">Показать все <i></i></div>
                    </a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'feed_homepage' and app.request.get('type') == 'events' %}class="active"{% endif %}>
                    <a href="{{ path('feed_homepage', {'type': 'events'}) }}">
                        <div class="inner">Показать мероприятия <i></i></div>
                    </a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'feed_homepage' and app.request.get('type') == 'reviews' %}class="active"{% endif %}>
                    <a href="{{ path('feed_homepage', {'type': 'reviews'}) }}">
                        <div class="inner">Показать отзывы <i></i></div>
                    </a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'feed_homepage' and app.request.get('type') == 'questions' %}class="active"{% endif %}>
                    <a href="{{ path('feed_homepage', {'type': 'questions'}) }}">
                        <div class="inner">Показать вопросы <i></i></div>
                    </a>
                </li>
            </ul>
            <div id="arrowSlide"></div>
        </div>
    {% endblock %}

{% block body %}
    <div class="inner noHidden">
        <div class="left">
            <h2>
                {% if app.request.get('type') == 'all' %}
                    Все события
                {% elseif  app.request.get('type') == 'events' %}
                    Мероприятия
                {% elseif  app.request.get('type') == 'reviews' %}
                    Комментарии
                {% elseif  app.request.get('type') == 'questions' %}
                    Вопросы
                {% endif %}
            </h2>
        </div>
        <div class="clear border"></div>
        <div id="list_feed_blocks">
            {{ render(controller('FeedBundle:Default:render', {
                'type': app.request.get('type'),
                'page': 1
            })) }}
        </div>

        {% if form_rewies is defined %}
            <div id="form_add_comment" style="display: none;">
                {{ form_start(form_rewies) }}

                <div class="input box-label-input">
                    {{ form_label(form_rewies.text) }}
                    {{ form_widget(form_rewies.text) }}
                </div>
                <div class="input box-label-input stars-input set-stars-input">
                    {{ form_label(form_rewies.rating_quality) }}
                    {{ form_widget(form_rewies.rating_quality) }}
                </div>
                <div class="input box-label-input stars-input set-stars-input">
                    {{ form_label(form_rewies.rating_saturation) }}
                    {{ form_widget(form_rewies.rating_saturation) }}
                </div>
                <div class="input box-label-input stars-input set-stars-input">
                    {{ form_label(form_rewies.rating_interestingness) }}
                    {{ form_widget(form_rewies.rating_interestingness) }}
                </div>

                <div class="input">
                    <div id="preview-wrapper_{{ form_rewies.vars.id }}_form" class="dropzone-preview-list"></div>
                </div>
                <div class="input">
                    <div class="dropzone-previews dz-message">
                        <div class="">Вы можете поместить сюда свои фотографии</div>
                    </div>
                </div>

                <div class="form__box" id="feedbundle_comment_form_global_errors">
                </div>
                {{ form_widget(form_rewies.feed) }}
                <div class="input">
                    <input type="submit" id="_submit" name="_submit" class="blueButton" value="Ответить">
                </div>
                {% include ":misc:loader.html.twig" %}
                {{ form_end(form_rewies) }}
            </div>
        {% endif %}
        {% if form_question is defined %}
            <div id="form_answer_question" style="display: none;">
                {{ form_start(form_question) }}
                <div class="input box-label-input">
                    {{ form_label(form_question.answer) }}
                    {{ form_widget(form_question.answer) }}
                </div>

                <div class="form__box" id="personalareabundle_question_answer_global_errors">
                </div>
                <div class="input">
                    <input type="submit" id="_submit" name="_submit" class="blueButton" value="Ответить">
                </div>
                {% include ":misc:loader.html.twig" %}
                {{ form_end(form_question) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if form_rewies is defined %}
        <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/vendor/jquery.ui.widget.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.iframe-transport.js') }}"></script>
        <script src="{{ asset('bundles/app/js/fileInputs/js/custom-file-input.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.fileupload.js') }}"></script>
        <script src="{{ asset('bundles/app/js/dropzone/dist/dropzone.js') }}"></script>
    {% endif %}
{% endblock %}