{% if feed.currentPageNumber == 1 %}
<div class="events feed data_block">
    {% endif %}
    {% for block_feed in feed %}
        {% if block_feed.event %}
            {% include "FeedBundle:Templates:event.html.twig" with {'event': block_feed.event, 'feed_block': block_feed} %}
        {% endif %}
        {% if block_feed.question %}
            {% set question = block_feed.question %}
            {% if question.answer %}
                {% include "FeedBundle:Templates:quest.html.twig" with {'question': question, 'feed_block': block_feed} %}
            {% else %}
                {% include "FeedBundle:Templates:question_wa.html.twig" with {'question': question, 'feed_block': block_feed} %}
            {% endif %}
        {% endif %}
        {% if block_feed.review %}
            {% set comment = block_feed.review %}
            {% if comment.event %}
                {% include "FeedBundle:Templates:comment_event.html.twig" with {'comment': comment, 'feed_block': block_feed} %}
            {% else %}
                {% include "FeedBundle:Templates:comment_company.html.twig" with {'comment': comment, 'feed_block': block_feed} %}
            {% endif %}
        {% endif %}
        {% if block_feed.ticket and block_feed.onlyuser %}
            {% include "FeedBundle:Templates:wa_comment.html.twig" with {'feed_block': block_feed} %}
        {% endif %}
    {% endfor %}
    {% if feed.currentPageNumber == 1 %}
</div>
{% endif %}
{{ knp_pagination_render(feed, null, {'type': type}) }}
{#{% include "FeedBundle:Templates:question_wa.html.twig" %}#}