{% extends 'error.html.twig' %}

{% block body %}

	<div class="error-container__center">
		<div class="error-num">403</div>
		<div class="error-txt">
			<h3 class="error-txt__title">Извините, у вас нет доступа к этой странице</h3>
			<p class="error-txt__txt">Вы запросили страницу, доступ к которой ограничен специальными правами.</p>
			<div class="error-btn">
				<div class="center">
					<div  class="blueButton">Вернуться на главную</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}