{% extends 'error.html.twig' %}

{% block body %}

	<div class="error-container__center">
		<div class="error-num">404</div>
		<div class="error-txt">
			<h3 class="error-txt__title">Извините! Страница, которую Вы ищете, не может быть найдена</h3>
			<p class="error-txt__txt">Возможно, запрашиваемая Вами страница была перенесена или удалена. Также возможно, Вы допустили небольшую опечатку при вводе адреса - такое случается даже с нами, поэтому еще раз внимательно проверьте</p>
			<div class="error-btn">
				<div class="center">
					<div  class="blueButton">Вернуться на главную</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}