{% extends '::base_cabinet.html.twig' %}


{% block body %}
    <div class="inner">
        <div class="left">
            <h2>Подарки</h2>

            {% include 'PersonalAreaBundle:misc:cabinet_breadcrumbs.html.twig' with {'bc_add_text': 'Подарки'} %}
        </div>

        {{ render(controller('PersonalAreaBundle:Payment:render')) }}
        <div class="clear border"></div>
        <div id="list_gifts_blocks">
            {{ render(controller('PersonalAreaBundle:Gifts:load', {
                'page': 1
            })) }}
        </div>
    </div>
{% endblock %}