{% if gifts.currentPageNumber == 1 %}
<div class="events gifts data_block">
    {% endif %}
    {% for block_gift in gifts %}
        {% if block_gift.event %}
            {% include "PersonalAreaBundle:Gifts:sum.html.twig" with {'gift_block': block_gift} %}
        {% endif %}
        {% if block_gift.ticket %}
            {% set ticket = block_gift.ticket %}
            {% include "PersonalAreaBundle:Gifts:tp.html.twig" with {'ticket': ticket, 'gift_block': block_gift} %}
        {% endif %}
    {% endfor %}
    {% if gifts.currentPageNumber == 1 %}
</div>
{% endif %}
{{ knp_pagination_render(gifts, null) }}