<div class="feedWrap">
    {% set event = gift_block.event %}
    <div>
        <div class="titleAndTime">
            <div class="time-feed">{{ gift_block.createAt|date('H:i') }}</div>
            <div class="title">Вы выиграли в конкурсе сделав репост в группе</div>
        </div>
        {% include "FeedBundle:misc:event_info.html.twig" with {'event': event} %}
    </div>
    <div class="otherInfo">
        <div class="othersWrapGift">

            {% set path_to_logo %}
                {% path gift_block.user.avatar, 'small' %}
            {% endset %}
            {% if path_to_logo | trim %}
                <a href="{{ path('profiles_view', {'url':gift_block.user.url}) }}">
                    <div class="photo" style="background:url({{ path_to_logo }})"></div>
                </a>
            {% endif %}

            <div class="nameBlock">
                <div class="name">
                    Организатор: <a
                            href="{{ path('profiles_view', {'url':event.company.usercompany.url}) }}">{{ event.company.usercompany.firstname }} {{ event.company.usercompany.lastname }}</a>
                </div>
            </div>
            <div class="clear border2"></div>
            <h4>Информация о подарке</h4>

            <div class="clear"></div>
            <div class="info_ticket">
                Вы выиграли: {{ gift_block.sum }} р.
            </div>
            {% if gift_block.get %}
                <p>Подарок получен</p>
            {% else %}
                <a href="javascript:void(0);" class="blueButton getGift" data-id="{{ gift_block.id }}">Получить</a>
            {% endif %}
        </div>
        {% if not gift_block.get %}
            {{ include(':misc:loader.html.twig') }}
        {% endif %}
    </div>
    <div class="whiteGradient"></div>
</div>