<div class="feedWrap">
    {% set event = ticket.timeprices.event %}
    <div>
        <div class="titleAndTime">
            <div class="time-feed">{{ gift_block.createAt|date('H:i') }}</div>
            <div class="title">Вам подарили подарок</div>
        </div>
        {% include "FeedBundle:misc:event_info.html.twig" with {'event': event} %}
    </div>
    <div class="otherInfo">
        <div class="othersWrapGift">
            {% set path_to_logo %}
                {% path gift_block.user.avatar, 'small' %}
            {% endset %}
            {% if path_to_logo | trim %}
                <a href="{{ path('profiles_view', {'url':gift_block.user.url}) }}">
                    <div class="photo" style="background:url({{ path_to_logo }})"></div>
                </a>
            {% endif %}
            {% if gift_block.userMake %}
                <div class="nameBlock">
                    Пользователь, который подарил подарок:
                    <div class="name">
                        <a href="{{ path('profiles_view', {'url':gift_block.userMake.url}) }}">{{ gift_block.userMake.firstname }} {{ gift_block.userMake.lastname }}</a>
                    </div>
                </div>
            {% endif %}
            <div class="clear border2"></div>
            <h4>Информация о подарке</h4>

            <div class="info_ticket">
                <p>{{ gift_block.ticket.timeprices.dateevent|date('d.m.Y') }}
                    в {{ gift_block.ticket.timeprices.timefrom|date('H:i') }}
                    (билетов: {{ gift_block.ticket.cntTickets }})</p>
                {% if gift_block.ticket.service | length %}
                    <div class="dop_service">
                        Доп. услуги:
                        {% for serv1 in gift_block.ticket.service %}
                            <p>{{ serv1.name }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if gift_block.get %}
                <p>Подарок получен</p>
            {% else %}
                <a href="javascript:void(0);" data-href="#make_money_form_modal"
                   class="blueButton popup-link">Получить</a>
            {% endif %}
        </div>
    </div>
    <div class="whiteGradient"></div>
</div>