<div class="userBg" style="background:url(/bundles/app/img/userBg.jpg);">
    <div class="inner">

        {% set path_to_logo %}
            {% if company.typeCompany == 5 %}
                {% path company.usercompany.avatar, 'big' %}
            {% else %}
                {% path company.logo, 'big' %}
            {% endif %}
        {% endset %}
        {% if path_to_logo|trim %}
            <div class="photoUser" style="background:url({{ path_to_logo|trim }});"></div>
        {% endif %}
        <div class="blackLine">
            <div class="inner">
                <h2>Организатор
                    {% if company.typeCompany == 5 %}
                        «{{ company.usercompany.firstname }} {{ company.usercompany.lastname }}»
                    {% else %}
                        «{{ company.nameCompany }}»
                    {% endif %}
                </h2>

                <div class="inBlackLine">
                    {% if company.phoneForUsers %}
                        <span class="phone"><i></i>{{ company.phoneForUsers|phone }}</span>
                    {% endif %}
                    {% if company.email %}
                        <span class="email"><i></i>{{ company.email }}</span>
                    {% endif %}
                    <span>Средний рейтинг:</span>

                    <div class="ratig">
                        <div class="wrapRating">
                            {% if evaluation %}
                                {% set calculate_rating = (evaluation['calculation_interestingness'] + evaluation['calculation_quality'] + evaluation['calculation_saturation']) / 3 %}
                                {% for i in 1..calculate_rating|round(0, 'floor') %}
                                    <div></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="ratingToolTip">
                            <span>Организация мепроприятия:</span>

                            <div class="wrapRating">
                                {% if evaluation %}
                                    {% for calculation_quality in 1..evaluation['calculation_quality']|round(0, 'floor') %}
                                        <div></div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <span>Насыщенность программы:</span>

                            <div class="wrapRating">
                                {% if evaluation %}
                                    {% for calculation_saturation in 1..evaluation['calculation_saturation']|round(0, 'floor') %}
                                        <div></div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <span>Интересность:</span>

                            <div class="wrapRating">
                                {% if evaluation %}
                                    {% for calculation_interestingness in 1..evaluation['calculation_interestingness']|round(0, 'floor') %}
                                        <div></div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>