<div class="leftColumn">
    <div class="inner">
        <h2>{{ name_left_menu }}</h2>
        <span class="menuTitle">Меню</span>
    </div>
    <ul class="left_menu">
        <li {% if app.request.attributes.get('_route') == 'company_view' %}class="active"{% endif %}>
            <a href="{{ path('company_view', {'url': company.url}) }}">
                <div class="inner">Об организаторе<i></i></div>
            </a>
        </li>
        <li {% if app.request.attributes.get('_route') == 'company_view.events' %}class="active"{% endif %}>
            <a href="{{ path('company_view.events', {'url': company.url}) }}">
                <div class="inner">Мероприятия<i></i></div>
            </a>
        </li>
        {#<li {% if app.request.attributes.get('_route') == 'company_view.reviews' %}class="active"{% endif %}>#}
            {#<a href="{{ path('company_view.reviews', {'url': company.url}) }}">#}
                {#<div class="inner">Отзывы<i></i></div>#}
            {#</a>#}
        {#</li>#}
    </ul>
    <div id="arrowSlide"></div>
</div>