{# app/Resources/views/admin_layout.html.twig #}

{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/js/imperavi/redactor.css') }}" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/js/imperavi/plugins/clips/clips.css') }}" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="{{ asset('bundles/stpredactor/css/sonata.css') }}" type="text/css" media="screen"/>
    {#{% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': true, 'include_bootstrap': false} %}#}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/imperavi/redactor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/imperavi/plugins/clips/clips.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/imperavi/plugins/video/video.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/imperavi/lang/ru.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/imperavi/script.js') }}"></script>


    </script><script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}


        {% block sonata_wrapper %}
            {{ parent() }}
            {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}
        {% endblock sonata_wrapper %}