{% trans_default_domain 'AppBundle' %}
<!DOCTYPE html>
<html class="uk-height-1-1">
<head lang="ru">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% set route_data = app.request.attributes.get('_route') %}

    {% set data = pagedata(route_data) %}

    <title>{% block title %}{{ data.title }}{% endblock %}</title>
    {% block meta %}
        <meta name="description" content="{{ data.description }}"/>
        <meta name="keywords" content="{{ data.keywords }}"/>
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/style/main.less' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <link rel="stylesheet" href="{{ asset('/bundles/app/style/normalize.css') }}">
        <!-- fancyBox -->
        <link rel="stylesheet" href="{{ asset('/bundles/app/js/fancyBox/source/jquery.fancybox.css') }}">
        <link rel="stylesheet"
              href="{{ asset('bundles/app/js/datetimepicker-master/build/jquery.datetimepicker.min.css') }}">
        {#<link rel="stylesheet" href="{{ asset('bundles/app/js/datetimepicker-master/build/periodpicker.min.css') }}">#}

    {% endblock %}
</head>
<body class="bg1">
{{ sonata_block_render({ 'type': 'sonata.block.ipgeobase' }) }}


<section class="content">
    <div class="leftColumn">
        <div class="inner">
            <h2>Личный кабинет</h2>
            <span class="menuTitle">Меню</span>
        </div>
        {% include 'PersonalAreaBundle:misc:left_menu.html.twig' %}
        <div id="arrowSlide"></div>
    </div>
    <div class="rightColumn">
        {% block body %}
        {% endblock %}
    </div>
</section>
{% block modals %}

{% endblock %}

{#{{ render(controller(#}
{#'AppBundle:Default:renderModals'#}
{#)) }}#}
{% block javascripts %}
    {% javascripts
    '@jquery'
    '@uikit'
    '@main'
    '@fancyBox'
    '@datetimepicker'
    '@periodpicker' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
</body>
</html>
