{% trans_default_domain 'AppBundle' %}
<!DOCTYPE html>
<html class="uk-height-1-1">
<head lang="ru">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% set route_data = app.request.attributes.get('_route') %}

    {% set data = pagedata(route_data) %}


    <title>{% block title %}{{ data.title }}{% endblock %}</title>
    {% block meta %}
        <meta name="description" content="{{ data.description }}"/>
        <meta name="keywords" content="{{ data.keywords }}"/>
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/style/main.less'
        '@AppBundle/Resources/public/js/datetimepicker-master/build/periodpicker.min.css'
        '@AppBundle/Resources/public/js/datetimepicker-master/build/jquery.datetimepicker.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <link rel="stylesheet" href="{{ asset('bundles/app/style/normalize.css') }}">

        <!-- fancyBox -->
        <link rel="stylesheet" href="{{ asset('/bundles/app/js/fancyBox/source/jquery.fancybox.css') }}">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <link rel="stylesheet"
              href="{{ asset('/bundles/app/js/jquery-bar-rating-master/dist/themes/fontawesome-stars.css') }}">
              <link rel="stylesheet"
                    href="{{ asset('/bundles/app/js/jquery-bar-rating-master/dist/themes/fontawesome-stars-o.css') }}">
    {% endblock %}
</head>
<body class="bg1">

{{ sonata_block_render({ 'type': 'sonata.block.ipgeobase' }) }}
{#{% include 'AppBundle:misc:header_base.html.twig' %}#}

<section class="content">
    {% block leftColumn %}
        <div class="leftColumn">
            <div class="inner">
                <h2>Категории</h2>
            </div>
            {{ render(
            controller(
            'AppBundle:Default:renderMenu'
            , {'data_search': app.request.query.all})
            ) }}
            <div id="arrowSlide"></div>
        </div>
    {% endblock %}
    <div class="rightColumn">
        {% block body %}
        {% endblock %}
        <div class="mapWrap">
            <div id="map_main" style="height: 120px; width: 100%;"></div>
            <div class="mapClicker"></div>
        </div>
        <div class="markers">
            <div x="56.829611607421505" y="58.61560106277466" marker="/bundles/app/img/mapMarker.png">
                <div class="name">Абакан</div>
                <div class="addressPoint">Заводская ул., 1В</div>
                <div class="hideContent">
                    <div class="events mapevent">
                        <div class="feedWrap">
                            <div>
                                <div class="image" style="background:url(/bundles/app/img/eventphoto.jpg);">
                                    <div class="eye"></div>
                                </div>
                                <div class="description">
                                    <div class="date">26 января</div>
                                    <a href="event.html" class="title">Мюзикл «Ночь открытых дверей»</a>

                                    <div class="price">300Р</div>
                                    <div class="ratig">
                                        <span>Средний рейтинг:</span>

                                        <div class="wrapRating">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="ratingToolTip">
                                            <span>Организация мепроприятия:</span>

                                            <div class="wrapRating">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <span>Насыщенность программы:</span>

                                            <div class="wrapRating">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <span>Интересность:</span>

                                            <div class="wrapRating">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div x="56.89825197570902" y="60.81831693649292" marker="/bundles/app/img/mapMarker.png">
                <div class="name">Ангарск</div>
                <div class="addressPoint">221-й квартал ул., 4</div>
                <div class="hideContent">
                    <div class="events mapevent">
                        <div class="feedWrap">
                            <div>
                                <div class="image" style="background:url(/bundles/app/img/eventphoto.jpg);">
                                    <div class="eye"></div>
                                </div>
                                <div class="description">
                                    <div class="date">26 января</div>
                                    <a href="event.html" class="title">Мюзикл «Ночь открытых дверей»</a>

                                    <div class="price">300Р</div>
                                    <div class="ratig">
                                        <span>Средний рейтинг:</span>

                                        <div class="wrapRating">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="ratingToolTip">
                                            <span>Организация мепроприятия:</span>

                                            <div class="wrapRating">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <span>Насыщенность программы:</span>

                                            <div class="wrapRating">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <span>Интересность:</span>

                                            <div class="wrapRating">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% block other_content %}
{% endblock %}

{#{{ render(controller(#}
{#'AppBundle:Default:renderModals'#}
{#)) }}#}
{% block modals %}
{% endblock %}
{% block javascripts %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    {% javascripts
    '@jquery'
    '@uikit'
    '@fancyBox'
    '@main'
    '@datetimepicker'
    '@periodpicker'
    '@fancyBox' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
</body>
</html>
