<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>404</title>

    {% block stylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/style/main.less' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <link rel="stylesheet" href="{{ asset('/bundles/app/style/normalize.css') }}">
        <!-- fancyBox -->
        <link rel="stylesheet" href="{{ asset('/bundles/app/js/fancyBox/source/jquery.fancybox.css') }}">
    {% endblock %}
</head>
<body class="bg2">
{% include 'AppBundle:misc:header.html.twig' %}

<section class="content">
    {% block body %}
    {% endblock %}
</section>


{% block javascripts %}
    {% javascripts
    '@jquery'
    '@uikit'
    '@main'
    '@fancyBox' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
</body>

</html>