{% extends "@OhGoogleMapFormType/Form/google_maps.html.twig" %}

{% block oh_google_maps_javascripts %}
    {% if include_jquery %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    {% endif %}
    {% if include_gmaps_js %}
        <script type="text/javascript"
                src="//maps.google.com/maps/api/js?sensor=true&key=AIzaSyBvLApTidYFLoLpD7tXQbHQdMGqsqIYKBk"></script>
    {% endif %}
    {% javascripts
    '@OhGoogleMapFormTypeBundle/Resources/public/js/jquery.ohgooglemaps.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}