<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% if  app.request.attributes.get('_route') =='ofd_by_page' %}
        {% set route_data = 'ofd_homepage' %}
    {% elseif  app.request.attributes.get('_route') =='ofv_by_page' %}
        {% set route_data = 'ofv_homepage' %}
    {% elseif  app.request.attributes.get('_route') =='analytics_by_page' %}
        {% set route_data = 'analytics_homepage' %}
    {% else %}
        {% set route_data = app.request.attributes.get('_route') %}
    {% endif %}
    {% set data = pagedata(route_data) %}

    <title>{% block title %}{{ data.title }}{% endblock %}</title>
    {% block meta %}
        <meta name="description" content="{{ data.description }}"/>
        <meta name="keywords" content="{{ data.keywords }}"/>
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/style/main.less' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <link rel="stylesheet" href="{{ asset('/bundles/app/style/normalize.css') }}">
        <!-- fancyBox -->
        <link rel="stylesheet" href="{{ asset('/bundles/app/js/fancyBox/source/jquery.fancybox.css') }}">
    {% endblock %}
</head>
<body class="bg2">
{{ sonata_block_render({ 'type': 'sonata.block.ipgeobase'},{
    'template': 'AppBundle:misc:header.html.twig'
} ) }}

<section class="content">
    {% block body %}
    {% endblock %}
</section>


{% block javascripts %}
    {% javascripts
    '@jquery'
    '@uikit'
    '@main'
    '@fancyBox' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
</body>

</html>