{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    {#<ul class="pagination clearfix">#}
    {#{% if first is defined and current != first %}#}
    {#<li&#123;&#35; class="first"&#35;&#125;>#}
    {#<a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="link left">&#123;&#35;&lt;&lt;&#35;&#125;&#8249;&#8249;</a>#}
    {#</li>#}
    {#{% endif %}#}

    {#{% if previous is defined %}#}
    {#<li&#123;&#35; class="previous"&#35;&#125;>#}
    {#<a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="link left">&#123;&#35;&lt;&#35;&#125;&#8249;</a>#}
    {#</li>#}
    {#{% endif %}#}

    {#{% for page in pagesInRange %}#}
    {#{% if page != current %}#}
    {#<li class="page">#}
    {#<a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="link">{{ page }}</a>#}
    {#</li>#}
    {#{% else %}#}
    {#<li class="current"><a href="javascript:void(0);" class=" link active">{{ page }}</a></li>#}
    {#{% endif %}#}

    {#{% endfor %}#}

    {% if next is defined %}
        <div class="blueButton fullWidthBt load_next_data"
             data-href="{{ path(route, query|merge({(pageParameterName): next})) }}">
            Показать еще
        </div>
    {% endif %}

    {#{% if last is defined and current != last %}#}
    {#<li&#123;&#35; class="last"&#35;&#125;>#}
    {#<a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="link right">&#123;&#35;&gt;&gt;&#35;&#125;&#8250;&#8250;</a>#}
    {#</li>#}
    {#{% endif %}#}
    {#</ul>#}
{% endif %}
