{% extends '::base_cabinet.html.twig' %}


{% block body %}
    <div class="inner">
        <div class="left">
            <h2>Регистрация организатора в качестве физического лица</h2>
            {% include 'PersonalAreaBundle:misc:cabinet_breadcrumbs.html.twig' with {'bc_add_text': 'Регистрация организатора в качестве физического лица'} %}
        </div>

        <div class="clear border"></div>
        {% if not app.user or not app.user.company %}
            <div id="registrate_organizate_form">
                {{ form_start(form_registrate) }}
                {{ form_widget(form_registrate.typeCompany) }}

                <div class="companyInputs">
                    {% if not app.user %}
                        {% include 'PersonalAreaBundle:registrated:form_user.html.twig' %}
                    {% endif %}
                    <div class="input box-label-input">
                        <div class="text-input">
                            {{ form_label(form_registrate.phoneForAdmin) }}
                            {#<span class="spantext">Каждый веб-разработчик знает, что такое текст-«рыба».</span>#}
                        </div>
                        {{ form_widget(form_registrate.phoneForAdmin, {'attr': {'class': 'phone_mask'}}) }}
                    </div>
                    <div class="input box-label-input">
                        <div class="text-input">
                            {{ form_label(form_registrate.phoneForUsers) }}
                            {#<span class="spantext">Номер телефона для клиентов организатора</span>#}
                        </div>
                        {{ form_widget(form_registrate.phoneForUsers, {'attr': {'class': 'phone_mask'}}) }}
                    </div>
                    <div class="input textarea box-label-input">
                        {{ form_label(form_registrate.passport) }}
                        {#<span class="spantext">Каждый веб-разработчик знает, что такое текст-«рыба».</span>#}
                        {{ form_widget(form_registrate.passport) }}
                    </div>
                    <div class="input textarea box-label-input">
                        {{ form_label(form_registrate.textAbout) }}
                        {#<span class="spantext">Каждый веб-разработчик знает, что такое текст-«рыба».</span>#}
                        {{ form_widget(form_registrate.textAbout) }}
                    </div>
                    <div class="input textarea">
                        <h4>Карта</h4>
                        {#<span class="spantext">Каждый веб-разработчик знает, что такое текст-«рыба».</span>#}

                        <div id="map_create_company" style="width: 100%; height: 400px;"></div>
                    </div>

                    <div class="input textarea">
                        <div id="preview-wrapper_{{ form_registrate.vars.id }}_form"
                             class="dropzone-preview-list"></div>
                    </div>
                    <div class="input textarea">
                        <div class="dropzone-previews dz-message">
                            <div class="">Вы можете поместить сюда свои фотографии</div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <input type="submit" class="blueButton" id="save" value="Сохранить">
                </div>
                {{ form_widget(form_registrate.lat) }}
                {{ form_widget(form_registrate.lng) }}
                {% include ':misc:loader.html.twig' %}
                {{ form_end(form_registrate) }}
            </div>
        {% endif %}
    </div>
    {% include 'PersonalAreaBundle:registrated:moder_regist_text.html.twig' %}
    {% include 'PersonalAreaBundle:registrated:success-register.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {#<link rel="stylesheet" href="{{ asset('bundles/app/js/dropzone/dist/basic.css') }}">#}
    <link rel="stylesheet" href="{{ asset('bundles/app/js/dropzone/dist/dropzone.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>


    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/app/js/fileInputs/js/custom-file-input.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/personalarea/js/create_company.js') }}"></script>
    <script src="{{ asset('bundles/app/js/uploader_file.js') }}"></script>
    <script src="{{ asset('bundles/app/js/dropzone/dist/dropzone.js') }}"></script>
{% endblock %}