<div class="input box-label-input">
    <div class="text-input">
        {{ form_label(form_registrate.usercompany.email) }}
    </div>
    {{ form_widget(form_registrate.usercompany.email) }}
</div>
<div class="input box-label-input">
    <div class="text-input">
        {{ form_label(form_registrate.usercompany.firstname) }}
    </div>
    {{ form_widget(form_registrate.usercompany.firstname) }}
</div>
<div class="input box-label-input">
    <div class="text-input">
        {{ form_label(form_registrate.usercompany.lastname) }}
    </div>
    {{ form_widget(form_registrate.usercompany.lastname) }}
</div>