{% extends '::base_cabinet.html.twig' %}


{% block body %}
    <div class="inner">
        <div class="left">
            <h2>Регистрации компании</h2>

            {% include 'PersonalAreaBundle:misc:cabinet_breadcrumbs.html.twig' with {'bc_add_text': 'Регистрации компании'} %}

        </div>

        <div class="clear border"></div>
        {% if not app.user or not app.user.company %}
        <div id="registrate_organizate_form">
            {{ form_start(form_registrate) }}
            {{ form_widget(form_registrate.typeCompany) }}
            <h4>Логотип</h4>
            <span class="spantext">Загрузите свой логотип. Максимальный размер 600x600 пикселей.</span>
            <label for="logoComp">
                <div class="logoCompany" id="logoCompany"></div>
                <!--Если изображение загружено, ставим класс "loadedImage"-->
                {{ form_widget(form_registrate.setlogo) }}
            </label>
            <input type="file" id="logoComp" class="hide" name="files">

            <div class="companyInputs">
                {% if not app.user %}
                    {% include 'PersonalAreaBundle:registrated:form_user.html.twig' %}
                {% endif %}
                <div class="input box-label-input">
                    <div class="text-input">
                        <label for="companyform">Форма организации</label>
                    <span class="spantext">
                        {% for choice in  form_registrate.formOrganization.vars.choices %}
                            {{ choice.data.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                    </div>
                    {{ form_widget(form_registrate.formOrganization) }}
                </div>
                <div class="input box-label-input">
                    <div class="text-input">
                        {{ form_label(form_registrate.nameCompany) }}
                        {#<span class="spantext">Каждый веб-разработчик знает, что такое текст-«рыба».</span>#}
                    </div>
                    {{ form_widget(form_registrate.nameCompany) }}
                </div>
                <div class="input box-label-input">
                    <div class="text-input">
                        {{ form_label(form_registrate.phoneForAdmin) }}
                        {#<span class="spantext">Каждый веб-разработчик знает, что такое текст-«рыба».</span>#}
                    </div>
                    {{ form_widget(form_registrate.phoneForAdmin, {'attr': {'class': 'phone_mask'}}) }}
                </div>
                <div class="input box-label-input">
                    <div class="text-input">
                        {{ form_label(form_registrate.phoneForUsers) }}
                        {#<span class="spantext">Номер телефона для клиентов организатора</span>#}
                    </div>
                    {{ form_widget(form_registrate.phoneForUsers, {'attr': {'class': 'phone_mask'}}) }}
                </div>
                <div class="input box-label-input">
                    <div class="text-input">
                        {{ form_label(form_registrate.orgn) }}
                        {#<span class="spantext">Номер телефона для клиентов организатора</span>#}
                    </div>
                    {{ form_widget(form_registrate.orgn) }}
                </div>
                <div class="input box-label-input">
                    <div class="text-input">
                        {{ form_label(form_registrate.dirname) }}
                        {#<span class="spantext">Номер телефона для клиентов организатора</span>#}
                    </div>
                    {{ form_widget(form_registrate.dirname) }}
                </div>
                <div class="input box-label-input">
                    <div class="text-input">
                        {{ form_label(form_registrate.dateRegistrateCompany) }}
                    </div>
                    {{ form_widget(form_registrate.dateRegistrateCompany) }}
                </div>
                <div class="input textarea box-label-input">
                    {{ form_label(form_registrate.textAbout) }}
                    {#<span class="spantext">Каждый веб-разработчик знает, что такое текст-«рыба».</span>#}
                    {{ form_widget(form_registrate.textAbout) }}
                </div>
                <div class="input textarea">
                    <h4>Карта</h4>
                    {#<span class="spantext">Каждый веб-разработчик знает, что такое текст-«рыба».</span>#}

                    <div id="map_create_company" style="width: 100%; height: 400px;"></div>
                </div>
                <button type="submit" class="blueButton" id="save">Сохранить</button>
            </div>
            {{ form_widget(form_registrate.lat) }}
            {{ form_widget(form_registrate.lng) }}
            {% include ':misc:loader.html.twig' %}
            {{ form_end(form_registrate) }}
        </div>
        {% endif %}
    </div>
    {% include 'PersonalAreaBundle:registrated:moder_regist_text.html.twig' %}
    {% include 'PersonalAreaBundle:registrated:success-register.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>


    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/app/js/fileInputs/js/custom-file-input.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/personalarea/js/create_company.js') }}"></script>
    <script src="{{ asset('bundles/app/js/uploader_file.js') }}"></script>
{% endblock %}