<div id="registrate_organizate_moder"
     {% if (not app.user) or (app.user and app.user.company and app.user.company.isActive) or (app.user and not app.user.company) %}style="display: none;"{% endif %}>
    <span class="spantext">Ваша заявки на рассмотрении</span>
</div>