<div class="fancy-popup-modal" id="registrate_organization_success">
    <div class="modalBlock">
        <div class="fancy-close close"></div>
        <h3>Создание организатора</h3>

        <div class="clear border"></div>
        <p>Вы успешно подали заявку на организатора! Нам необходимо проверить Вашу заявку перед тем как одобрить.</p>

        <div class="clear border"></div>
        <div class="blueButton fancy-close">Закрыть</div>
    </div>
</div>