{% extends '::registrate.html.twig' %}

{% block body %}
    <div class="autorizateWrap">
        <div class="blackOverlay">
            <h2>Успешное подтвержение аккаунта!</h2>
            <p>Здравствуйте {{ user.firstname }}! Вы успешно активировали свой аккаунт! </p>
        </div>
    </div>
{% endblock body %}
