{#<form action="{{ path('fos_user_registration_register') }}" {% if form.vars.multipart %} enctype="multipart/form-data"{% endif %}#}
      {#method="POST" class="form fos_user_registration_register form-horizontal">#}

    {{ form_start(form, {'action': path('fos_user_registration_register'), 'attr':
        {
            'novalidate': 'novalidate',
            'id':'fos_user_registration_form',
            'autocomplete': "off"
        }}) }}
    {{ form_errors(form) }}
<div class="input2  box-label-input">
    {{ form_label(form.firstname) }}
    {{ form_widget(form.firstname, {'attr': {"autocomplete": "off"}}) }}
</div>
<div class="input2  box-label-input">
    {{ form_label(form.lastname) }}
    {{ form_widget(form.lastname, {'attr': {"autocomplete": "off"}}) }}
</div>
<div class="input2  box-label-input">
    {{ form_label(form.email) }}
    {{ form_widget(form.email, {'attr': {"autocomplete": "off"}}) }}
</div>
<div class="input2  box-label-input">
    {{ form_label(form.phone) }}
    {{ form_widget(form.phone, {'attr': {"autocomplete": "off", 'class': 'phone_mask'}}) }}
</div>
{% include ':misc:loader.html.twig' %}
{{ form_end(form) }}