{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% include "ApplicationSonataUserBundle:Registration:register_content.html.twig" %}
    <div class="fancy-popup-modal" id="registrate-success">
        <div class="modalBlock">
            <div class="fancy-close close"></div>
            <h3>Регистрация</h3>

            <div class="clear border"></div>
            <p>Вы успешно зарегистрировались! На Вашу почту отправлено письмо с активацией аккаунта и паролем.</p>

            <div class="clear border"></div>
            <div class="blueButton fancy-close">Закрыть</div>
        </div>
    </div>

{% endblock fos_user_content %}
