{% if not class_loader is defined %}
    {% set class_loader = 'loader' %}
{% endif %}
<div class="loader {{ class_loader }}">
    <div class="loader-overlay"></div>
    <div class="loader-img"><img src="/bundles/app/img/loader.png" alt="" /></div>
</div>

