{% if tickets|length %}
    {% if tickets.currentPageNumber == 1 %}
        <table class="colorTable history data_block">
        <tbody>
        <tr class="head">
            <td>№</td>
            <td>Организатор</td>
            <td>Название мероприятия</td>
            <td>Дата и время</td>
            <td>Кол-во мест</td>
        </tr>
        <tr class="colors">
            <td colspan="5"></td>
        </tr>
    {% endif %}
    {% for ticket in tickets %}
        {#<div>#}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>
                <a href="{{ path('profiles_view', {'url': ticket.timeprices.event.company.url }) }}">
                    {% if ticket.timeprices.event.company.typeCompany == 5 %}
                        {{ ticket.timeprices.event.company.usercompany.firstname }} {{ ticket.timeprices.event.company.usercompany.lastname }}
                    {% else %}
                        {{ ticket.timeprices.event.company.nameCompany }}
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{ path('events_view', {'url': ticket.timeprices.event.url }) }}">
                    {{ ticket.timeprices.event.name }}
                </a>
            </td>
            <td>{{ ticket.timeprices.dateevent|date('d.m.Y') }} в {{ ticket.timeprices.timefrom|date('H:i') }}</td>
            <td>{{ ticket.cntTickets }}</td>
        </tr>
        {#</div>#}
    {% endfor %}
    {% if tickets.currentPageNumber == 1 %}
        <tr class="colors">
            <td colspan="5"></td>
        </tr>
        </tbody>
        </table>
    {% endif %}
    {{ knp_pagination_render(tickets, null, {'user_id': user_id, 'type': type}) }}
{% endif %}