{% extends '::base_cabinet.html.twig' %}


{% block body %}
    <div class="inner noHidden">
        <div class="left">
            <h2>Добавить мероприятие</h2>

            {% include 'PersonalAreaBundle:misc:cabinet_breadcrumbs.html.twig' with {'bc_add_text': 'Создание мероприятия'} %}
        </div>
        {{ render(controller('PersonalAreaBundle:Payment:render')) }}
    </div>
    <div class="clear border"></div>
    <div>
        {{ form_start(form_create) }}
        <div class="inner">
            <div class="input fullWidth box-label-input">
                {{ form_label(form_create.name) }}
                {{ form_widget(form_create.name) }}
            </div>

            <h4>Картинки</h4>
            <span class="spantext">Загрузите свою картинку</span>
            <label for="imageEvent">
                {% set path_avatar = false %}
                {#{% set path_avatar %}{% path user.avatar, 'medium' %}{% endset %}#}
                <div class="logoEvent"
                     id="imageEventShow"{% if path_avatar %} style="background: url({{ path_avatar }}) center no-repeat;" {% endif %}>
                </div>
                <!--Если изображение загружено, ставим класс "loadedImage"-->
                {{ form_widget(form_create.main_image) }}
            </label>
            <input type="file" id="imageEvent" class="hide" name="files">

            <div class="input box-label-input">
                <div class="text-input">
                    {{ form_label(form_create.city) }}
                </div>
                {{ form_widget(form_create.city) }}
            </div>
            <div class="levels">
                <div>
                    <span>1 уровень</span>
                    <ul id="level-1" data-target="level-2">
                        {% for menu1 in menu %}
                            {% if menu1.lvl == 0 and menu1.children|length %}
                                <li data-id="{{ menu1.id }}">{{ menu1.title }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <span>2 уровень</span>
                    <ul id="level-2" data-target="level-3">
                        {% for menu2 in menu %}
                            {% if menu2.lvl == 1 and menu2.children|length %}
                                <li data-id="{{ menu2.id }}" data-parent="{{ menu2.parent.id }}"
                                    style="display: none;">{{ menu2.title }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <span>3 уровень</span>
                    <ul id="level-3">
                        {% for menu3 in menu %}
                            {% if menu3.lvl == 2 %}
                                <li class="select_level_menu" data-id="{{ menu3.id }}"
                                    data-parent="{{ menu3.parent.id }}" data-parenthop="{{ menu3.parent.parent.id }}"
                                    style="display: none;">{{ menu3.title }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="menu_select">
                <div id="menu_select_text"></div>
                <div id="menu_select_hidden"></div>
            </div>
            <div class="clear"></div>
            <div class="input textarea fullWidth box-label-input">
                {{ form_label(form_create.description) }}
                {{ form_widget(form_create.description) }}
            </div>
            <div class="radiobox lineradio input-ch-nowrap">
                <span>Мероприятие для:</span>

                {{ form_widget(form_create.forMan) }}
                {{ form_label(form_create.forMan) }}

                {{ form_widget(form_create.forWoman) }}
                {{ form_label(form_create.forWoman) }}

                {{ form_widget(form_create.forElderly) }}
                {{ form_label(form_create.forElderly) }}
            </div>
            <div class="mapTabs">
                <div class="navTab">
                    <div class="active" id="panelmap1">Метка</div>
                    <div id="panelmap2">Маршрут</div>
                </div>
                <div class="panels">
                    <div class="panelmap1 active">
                        <div id="map_create_event_marcer" style="width: 100%; height: 400px;"></div>
                    </div>
                    <div class="panelmap2">
                        <div id="map_create_event_path" style="width: 100%; height: 400px;"></div>
                    </div>
                </div>
            </div>
            <h4>Дополнительные услуги</h4>

            <div class="dopServices">
                <div class="colorLineIm"></div>

                {% for services in form_create.getService %}
                    <div class="serv first">
                        <div class="inner">
                            <div class="input box-label-input">
                                {{ form_label(services.name) }}
                                {{ form_widget(services.name) }}
                            </div>
                            <div class="input box-label-input">
                                {{ form_label(services.price) }}
                                {{ form_widget(services.price) }}
                                <span>Р</span>
                            </div>
                            <div class="remove"><i></i>Удалить</div>
                        </div>
                    </div>
                {% endfor %}
                <div class="addMore" id="addDop">+ Добавить еще</div>
            </div>
            <div class="input">
                <div id="preview-wrapper_{{ form_create.vars.id }}_form" class="dropzone-preview-list"></div>
            </div>
            <div class="input">
                <div class="dropzone-previews dz-message">
                    <div class="">Вы можете поместить сюда свои фотографии</div>
                </div>
            </div>
            <div class="input textarea fullWidth box-label-input">
                <label for="youtube_videos">Загрузка видео с <a href="https://www.youtube.com/" target="_blank">Youtube.com</a>
                    (Через
                    пробел или запятую)</label>
                <textarea id="youtube_videos" name="youtube_videos"></textarea>
            </div>

            {% if app.user and app.user.company and app.user.company.typeCompany == 2 %}
            <div class="selectBlockEventType">
                <div class="eventchange">
                    <div class="type_event_change_normal active">Обычное мероприятие</div>
                    <div class="type_event_change_charity">Благотворительное Мероприятие</div>
                </div>
                <div class="normal_type_event_show">
                    {% endif %}
                    <h4>Запланировать мероприятие</h4>
                    {% for timeprice in form_create.getTimePrice %}
                        <div class="tableEvent eventTimes" id="timeprice_block_0">
                            <div class="colorLineIm"></div>
                            <div class="inner">
                                <div class="input timeEnd box-label-input">
                                    {{ form_label(timeprice.date_event) }}
                                    {{ form_widget(timeprice.date_event, {"attr":{"class":"pickadate"}}) }}
                                </div>
                                <div class="input timeStart box-label-input">
                                    {{ form_label(timeprice.timefrom) }}
                                    {{ form_widget(timeprice.timefrom,{"attr":{"class":"time"}}) }}
                                </div>
                                <div class="input timeEnd box-label-input">
                                    {{ form_label(timeprice.timeto) }}
                                    {{ form_widget(timeprice.timeto,{"attr":{"class":"time"}}) }}
                                </div>
                                <div class="input price box-label-input">
                                    {{ form_label(timeprice.price) }}
                                    {{ form_widget(timeprice.price) }}
                                    <span>Р</span>
                                </div>
                                <div class="input price box-label-input">
                                    {{ form_label(timeprice.places) }}
                                    {{ form_widget(timeprice.places) }}
                                </div>
                                <div class="radiobox">
                                    <input checked="checked" id="date1ID0" type="radio" name="dateEvent[0]" value="1">
                                    <label for="date1ID0"><i class="t2"></i>Только эта дата и время</label>
                                </div>
                                <div class="radiobox">
                                    <input id="date2ID0" type="radio" name="dateEvent[0]" value="2">
                                    <label for="date2ID0"><i class="t2"></i>Каждый день недели в данное время до <input
                                                type="text" class="pickadate" name="date_extend_2[0]"/>
                                        <span>включительно</span></label>
                                </div>
                                {#<div class="radiobox">#}
                                {#<input id="date3ID0" type="radio" name="dateEvent[0]" value="3">#}
                                {#<label for="date3ID0"><i class="t2"></i>Каждый день недели в данное время с выбранной даты#}
                                {#<input type="text" class="pickadate" name="date_extend_3[0]"/> <span>включительно</span></label>#}
                                {#</div>#}
                                <div class="radiobox">
                                    <input id="date4ID0" type="radio" name="dateEvent[0]" value="4">
                                    <label for="date4ID0"><i class="t2"></i>Каждый будний день недели до <input
                                                class="pickadate" type="text"
                                                name="date_extend_4[0]"/>
                                        <span>включительно</span></label>
                                </div>
                                <div class="radiobox">
                                    <input id="date5ID0" type="radio" name="dateEvent[0]" value="5">
                                    <label for="date5ID0"><i class="t2"></i>Каждый выходной до <input type="text"
                                                                                                      class="pickadate"
                                                                                                      name="date_extend_5[0]"/>
                                        <span>включительно</span></label>
                                </div>
                                <div class="input box-label-input">
                                    <div id="error_date_event_0"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="addMore" id="addEvent">+ Добавить еще</div>
                    <h4>Информация о конкурсе</h4>

                    <div class="tableEvent infoAboutEvent">
                        <div class="colorLineIm"></div>
                        <div class="inner">
                            <div class="input box-label-input">
                                {{ form_label(form_create.postVkDateClosed) }}
                                {{ form_widget(form_create.postVkDateClosed, {"attr":{"class":"pickadate"}}) }}
                            </div>
                            <div class="input box-label-input">
                                {{ form_label(form_create.postVkCntWin) }}
                                {{ form_widget(form_create.postVkCntWin) }}
                            </div>
                            <div class="input box-label-input">
                                {{ form_label(form_create.postVkSumWin) }}
                                {{ form_widget(form_create.postVkSumWin) }}
                                {#<label for="summWinUsers">Сумма выигрыша, которое пользователь сможет потратить на данное#}
                                {#мероприятие</label>#}
                            </div>
                        </div>
                    </div>
                    {% if app.user and app.user.company and app.user.company.typeCompany == 2 %}
                </div>
                <div class="clearfix"></div>
                <div class="charity_type_event_show" style="display: none;">
                    <p>Данное мероприятие будет благотворительным и будет находиться в разделе с
                        благотворительностью.</p>
                </div>
            </div>
            {% endif %}
            <div id="eventsbundle_event_form_global_errors" class="form_global_errors">
            </div>
            <div class="clearfix"></div>
            {% if app.user and app.user.company %}
                <input type="submit" class="blueButton" id="layOutEvent" value="Добавить мероприятие">
            {% endif %}
        </div>
        {{ form_widget(form_create.lat) }}
        {{ form_widget(form_create.lng) }}
        {{ form_widget(form_create.pathWay) }}
        {% include ':misc:loader.html.twig' %}
        {{ form_end(form_create) }}
    </div>
{% endblock %}

{% block modals %}
    <div class="fancy-popup-modal" id="event-create-success">
        <div class="modalBlock">
            <div class="fancy-close close"></div>
            <h3>Создание мероприятия</h3>

            <div class="clear border"></div>
            <p>Вы успешно создали мероприятие! Ждите пока администрация проверит ваше мероприятие.</p>

            <div class="clear border"></div>
            <div class="blueButton fancy-close">Закрыть</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/app/js/fileInputs/js/custom-file-input.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/personalarea/js/create_event.js') }}"></script>
    <script src="{{ asset('bundles/personalarea/js/menu.js') }}"></script>
    <script src="{{ asset('bundles/personalarea/js/PolylineMap.js') }}"></script>
    <script src="{{ asset('bundles/app/js/uploader_file.js') }}"></script>
    <script src="{{ asset('bundles/app/js/dropzone/dist/dropzone.js') }}"></script>
{% endblock %}