{% extends '::base_cabinet.html.twig' %}


{% block body %}
    <div class="inner noHidden">
        <div class="left">
            <h2>Редактирование мероприятие</h2>

            {% include 'PersonalAreaBundle:misc:cabinet_breadcrumbs.html.twig' with {'bc_add_text': 'Редактирование мероприятия', add_links: {'personal_area_company.events': 'Мероприятия'}} %}
        </div>
        {{ render(controller('PersonalAreaBundle:Payment:render')) }}
    </div>
    <div class="clear border"></div>
    <div>
        {{ form_start(form_edit) }}
        <div class="inner">
            <div class="input fullWidth box-label-input">
                {{ form_label(form_edit.name) }}
                {{ form_widget(form_edit.name) }}
            </div>

            <h4>Картинки</h4>
            <span class="spantext">Загрузите свою картинку</span>
            <label for="imageEvent">
                {% if (form_edit.vars.value.mainImage) %}
                    {% set path_image %}{% path form_edit.vars.value.mainImage, 'medium' %}{% endset %}
                {% else %}
                    {% set path_image = false %}
                {% endif %}
                <div class="logoEvent"
                     id="imageEventShow"{% if path_image %} style="background: url({{ path_image }}) center no-repeat;" {% endif %}>
                </div>
                <!--Если изображение загружено, ставим класс "loadedImage"-->
                {{ form_widget(form_edit.main_image) }}
            </label>
            <input type="file" id="imageEvent" class="hide" name="files">

            <div class="input box-label-input">
                <div class="text-input">
                    {{ form_label(form_edit.city) }}
                </div>
                {{ form_widget(form_edit.city) }}
            </div>
            <div class="levels">
                <div>
                    <span>1 уровень</span>
                    <ul id="level-1" data-target="level-2">
                        {% for menu1 in menu %}
                            {% if menu1.lvl == 0 and menu1.children|length %}
                                <li data-id="{{ menu1.id }}">{{ menu1.title }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <span>2 уровень</span>
                    <ul id="level-2" data-target="level-3">
                        {% for menu2 in menu %}
                            {% if menu2.lvl == 1 and menu2.children|length %}
                                <li data-id="{{ menu2.id }}" data-parent="{{ menu2.parent.id }}"
                                    style="display: none;">{{ menu2.title }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <span>3 уровень</span>
                    <ul id="level-3">
                        {% for menu3 in menu %}
                            {% if menu3.lvl == 2 %}
                                <li class="select_level_menu" data-id="{{ menu3.id }}"
                                    data-parent="{{ menu3.parent.id }}" data-parenthop="{{ menu3.parent.parent.id }}"
                                    style="display: none;">{{ menu3.title }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="menu_select">
                <div id="menu_select_text"></div>
                <div id="menu_select_hidden">
                    {% for m3 in event.getMenu3 %}
                        <input type="hidden" name="select_menu[]" class="select_menu_input"
                               value="{{ m3.id }}">
                    {% endfor %}
                </div>
            </div>
            <div class="clear"></div>
            <div class="input textarea fullWidth box-label-input">
                {{ form_label(form_edit.description) }}
                {{ form_widget(form_edit.description) }}
            </div>
            <div class="radiobox lineradio input-ch-nowrap">
                <span>Мероприятие для:</span>

                {{ form_widget(form_edit.forMan) }}
                {{ form_label(form_edit.forMan) }}

                {{ form_widget(form_edit.forWoman) }}
                {{ form_label(form_edit.forWoman) }}

                {{ form_widget(form_edit.forElderly) }}
                {{ form_label(form_edit.forElderly) }}
            </div>
            <div class="mapTabs">
                <div class="navTab">
                    <div class="active" id="panelmap1">Метка</div>
                    <div id="panelmap2">Маршрут</div>
                </div>
                <div class="panels">
                    <div class="panelmap1 active">
                        <div id="map_create_event_marcer" style="width: 100%; height: 400px;"></div>
                    </div>
                    <div class="panelmap2">
                        <div id="map_create_event_path" style="width: 100%; height: 400px;"></div>
                    </div>
                </div>
            </div>
            <h4>Дополнительные услуги</h4>

            <div class="dopServices">
                <div class="colorLineIm"></div>

                {% for services in form_edit.getService %}
                    <div class="serv{% if loop.first %} first{% endif %} service_block_event"
                         id="service_block_{{ loop.index0 }}" data-index="{{ loop.index0 }}">
                        <div class="inner">
                            <div class="input box-label-input">
                                {{ form_label(services.name) }}
                                {{ form_widget(services.name) }}
                            </div>
                            <div class="input box-label-input">
                                {{ form_label(services.price) }}
                                {{ form_widget(services.price) }}
                                <span>Р</span>
                            </div>
                            <div class="remove"><i></i>Удалить</div>
                        </div>
                    </div>
                {% endfor %}
                <div class="addMore" id="addDop">+ Добавить еще</div>
            </div>

            <div class="input">
                <div id="delete_images_form_event" style="display: none;"></div>
                <div id="preview-wrapper_{{ form_edit.vars.id }}_form" class="dropzone-preview-list">
                    {% if gallary_images is not null %}
                        {% for ghm in gallary_images %}
                            {% set path_image %}{% path ghm, 'reference' %}{% endset %}
                            <div class="dz-preview dz-image-preview">
                                <div class="dz-image">
                                    <img data-dz-thumbnail="" alt="{{ ghm.name }}"
                                         src="{{ path_image | imresize('event_gallary_dz') }}" style="height: 120px;">
                                </div>
                                <div class="dz-details">
                                    <div class="dz-filename"><span data-dz-name="">{{ ghm.name }}</span></div>
                                </div>
                                <a class="dz-remove-self-image" href="javascript:undefined;"
                                   data-id="{{ ghm.id }}">Удалить</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="input">
                <div class="dropzone-previews dz-message">
                    <div class="">Вы можете поместить сюда свои фотографии</div>
                </div>
            </div>
            <div class="input textarea fullWidth box-label-input">
                <div id="delete_videos_form_event" style="display: none;"></div>

                <label for="youtube_videos">Загрузка видео с <a href="https://www.youtube.com/" target="_blank">Youtube.com</a>
                    (Через
                    пробел или запятую)</label>
                <textarea id="youtube_videos" name="youtube_videos"></textarea>

                {% if gallary_youtube is not null %}
                    <div class="videos">
                        {% for youtube in gallary_youtube %}
                            {% set path_youtube %}{% path youtube, 'reference' %}{% endset %}
                            <div class="videos_view_one">
                                <a class="fancybox-youtube"
                                   style="background-image: url({{ path_youtube | imresize('event_gallary_medium') }})"
                                   href="https://www.youtube.com/watch?v={{ youtube.providerReference }}"
                                   title="{{ event.name }} - {{ youtube.name }}">
                                </a>
                                <a class="dz-remove-self-video" href="javascript:undefined;"
                                   data-id="{{ youtube.id }}">Удалить</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            {% if event.charity %}
            <div class="selectBlockEventType">
                <div class="eventchange">
                    <div class="type_event_change_normal {% if not event.charity %}active{% endif %}">Обычное
                        мероприятие
                    </div>
                    <div class="type_event_change_charity {% if event.charity %}active{% endif %}">Благотворительное
                        Мероприятие
                    </div>
                </div>
                <div class="normal_type_event_show" {% if event.charity %}style="display: none;" {% endif %}>
                    {% endif %}
                    <h4>Запланировать мероприятие</h4>
                    {% for timeprice in form_edit.getTimePrice %}
                        <div class="tableEvent eventTimes" id="timeprice_block_{{ loop.index0 }}"
                             data-index="{{ loop.index0 }}">
                            {% if form_edit.getTimePrice | length > 1 and not loop.first %}
                                <div class="remove"><i></i>Удалить</div>
                            {% endif %}
                            <div class="colorLineIm"></div>
                            <div class="inner">
                                <div class="input timeEnd box-label-input">
                                    {{ form_label(timeprice.date_event) }}
                                    {{ form_widget(timeprice.date_event, {"attr":{"class":"pickadate"},'value': timeprice.date_event.vars.value|date("d.m.Y")}) }}
                                </div>
                                <div class="input timeStart box-label-input">
                                    {{ form_label(timeprice.timefrom) }}
                                    {{ form_widget(timeprice.timefrom,{"attr":{"class":"time"},'value': timeprice.timefrom.vars.value|date("H:i")}) }}
                                </div>
                                <div class="input timeEnd box-label-input">
                                    {{ form_label(timeprice.timeto) }}
                                    {{ form_widget(timeprice.timeto,{"attr":{"class":"time"},'value': timeprice.timeto.vars.value|date("H:i")}) }}
                                </div>
                                <div class="input price box-label-input">
                                    {{ form_label(timeprice.price) }}
                                    {{ form_widget(timeprice.price) }}
                                    <span>Р</span>
                                </div>
                                <div class="input price box-label-input">
                                    {{ form_label(timeprice.places) }}
                                    {{ form_widget(timeprice.places) }}
                                </div>

                                <div class="radiobox">
                                    <input checked="checked" id="date1ID{{ loop.index0 }}" type="radio"
                                           name="dateEvent[{{ loop.index0 }}]"
                                           value="1">
                                    <label for="date1ID{{ loop.index0 }}"><i class="t2"></i>Только эта дата и
                                        время</label>
                                </div>

                                <div class="radiobox">
                                    <input id="date2ID{{ loop.index0 }}" type="radio"
                                           name="dateEvent[{{ loop.index0 }}]"
                                           value="2">
                                    <label for="date2ID{{ loop.index0 }}"><i class="t2"></i>Каждый день недели в данное
                                        время до
                                        <input
                                                type="text" class="pickadate" name="date_extend_2[{{ loop.index0 }}]"/>
                                        <span>включительно</span></label>
                                </div>

                                <div class="radiobox">
                                    <input id="date4ID{{ loop.index0 }}" type="radio"
                                           name="dateEvent[{{ loop.index0 }}]"
                                           value="4">
                                    <label for="date4ID{{ loop.index0 }}"><i class="t2"></i>Каждый будний день недели до
                                        <input
                                                class="pickadate" type="text"
                                                name="date_extend_4[{{ loop.index0 }}]"/>
                                        <span>включительно</span></label>
                                </div>

                                <div class="radiobox">
                                    <input id="date5ID{{ loop.index0 }}" type="radio"
                                           name="dateEvent[{{ loop.index0 }}]"
                                           value="5">
                                    <label for="date5ID{{ loop.index0 }}"><i class="t2"></i>Каждый выходной до <input
                                                type="text"
                                                class="pickadate"
                                                name="date_extend_5[{{ loop.index0 }}]"/>
                                        <span>включительно</span></label>
                                </div>
                                <div class="input box-label-input">
                                    <div id="error_date_event_{{ loop.index0 }}"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="addMore" id="addEvent">+ Добавить еще</div>

                    {% if event.charity %}
                </div>
                <div class="clearfix"></div>
                <div class="charity_type_event_show" {% if not event.charity %}style="display: none;"{% endif %}>
                    <p>Данное мероприятие будет благотворительным и будет находиться в разделе с
                        благотворительностью.</p>
                </div>
            </div>
            {% endif %}
            <div id="eventsbundle_event_edit_form_global_errors" class="form_global_errors">
            </div>
            {% if app.user and app.user.company %}
                <input type="submit" class="blueButton" id="layOutEvent" value="Изменить мероприятие">
            {% endif %}
        </div>
        {{ form_widget(form_edit.lat) }}
        {{ form_widget(form_edit.lng) }}
        {#{{ dump(form_edit.pathWay) }}#}
        {{ form_widget(form_edit.pathWay) }}
        {% include ':misc:loader.html.twig' %}
        {{ form_end(form_edit) }}
    </div>
{% endblock %}

{% block modals %}
    <div class="fancy-popup-modal" id="event-create-success">
        <div class="modalBlock">
            <div class="fancy-close close"></div>
            <h3>Изменение мероприятия</h3>

            <div class="clear border"></div>
            <p>Вы успешно изменили мероприятие! Все пользователи, у которых запланировано посещение данного мероприятия,
                были оповещен.</p>

            <div class="clear border"></div>
            <div class="blueButton fancy-close">Закрыть</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/app/js/fileInputs/js/custom-file-input.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/personalarea/js/edit_event.js') }}"></script>
    <script src="{{ asset('bundles/personalarea/js/menu.js') }}"></script>
    <script src="{{ asset('bundles/personalarea/js/PolylineMap.js') }}"></script>
    <script src="{{ asset('bundles/app/js/uploader_file.js') }}"></script>
    <script src="{{ asset('bundles/app/js/dropzone/dist/dropzone.js') }}"></script>
{% endblock %}