{% extends '::base_cabinet.html.twig' %}


{% block body %}
    <div class="inner noHidden">
        <div class="left">
            <h2>Мероприятия</h2>
            {% include 'PersonalAreaBundle:misc:cabinet_breadcrumbs.html.twig' with {'bc_add_text': 'Мероприятия'} %}
        </div>
        {{ render(controller('PersonalAreaBundle:Payment:render')) }}

        <div class="clear border"></div>
        <div id="list_events_cabinet">
            {{ render(controller('PersonalAreaBundle:Events:load', {
                'page': 1
            })) }}
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ parent() }}
    <div class="fancy-popup-modal" id="delete_event_question">
        <div class="modalBlock">
            <div class="fancy-close close"></div>
            <h3>Удаление мероприятия</h3>

            <div class="clear border"></div>
            {{ form_start(form_delete_event) }}

            <div class="input box-label-input">
                <p>Вы уверены что хотите удалить данное мероприятие?</p>

                <p>Все деньги с несостоящихся мероприятий будут возвращены пользователям.</p>
                {{ form_label(form_delete_event.id) }}
                {{ form_widget(form_delete_event.id) }}
            </div>


            <div class="form__box" id="personalareabundle_delete_event_form_global_errors">
            </div>

            <div class="clear border"></div>
            <input type="submit" class="blueButton" value="Удалить"/>
            {% include ':misc:loader.html.twig' %}
            {{ form_end(form_delete_event) }}
        </div>
    </div>
{% endblock %}