{% if events.currentPageNumber == 1 %}
    <div class="left">
        <h2>Мероприятия</h2>

        <div class="sort">
            <span class="title">Сортировать:</span>
            {% set direction = events.getDirection() %}
            <span class="sortSpan {% if events.isSorted('rating') %}active {% if direction == 'asc' %}revers{% endif %}{% endif %}">
                {{ knp_pagination_sortable(events, 'по рейтингу', 'rating') }}
                <i></i></span>
            <span> | </span>
            <span class="sortSpan {% if events.isSorted('tickets') %}active {% if direction == 'asc' %}revers{% endif %}{% endif %}">
                {{ knp_pagination_sortable(events, 'по кол-ву купленных билетов', 'tickets') }}
                <i></i></span>
            <span> | </span>
            <span class="sortSpan {% if events.isSorted('create') %}active {% if direction == 'asc' %}revers{% endif %}{% endif %}">
                {{ knp_pagination_sortable(events, 'по дате', 'create') }}
                <i></i></span>
        </div>
    </div>
    <div class="clear border"></div>
<div class="events data_block">
    {% endif %}
    {% if not events is null %}
        {% for event in events %}
            {% if result_view_advert|length and result_view_advert[loop.index] is defined %}
                {% include '@Events/block/block_event.html.twig' with {'event': result_view_advert[loop.index], 'advert': true} %}
            {% endif %}
            {% include '@Events/block/block_event.html.twig' with {'event': event} %}
        {% endfor %}
    {% endif %}
    {% if events.currentPageNumber == 1 %}
</div>
{% endif %}
{{ knp_pagination_render(events, null) }}