{% set vk_show = vk_show is defined ? vk_show : true %}
{% set fb_show = fb_show is defined ? fb_show : true %}
{% set gplus_show = gplus_show is defined ? gplus_show : true %}
{% set odnoclass_show = odnoclass_show is defined ? odnoclass_show : true %}

<script src="//ulogin.ru/js/ulogin.js"></script>

{% set id = uLoginID ~ '_' ~ random() %}
<div class="social" id="{{ id }}" data-uloginid="{{ uLoginID }}"
     data-ulogin="display=buttons;fields=first_name,last_name,email;providers=vkontakte,facebook,googleplus,odnoklassniki;lang=ru;hidden=;redirect_uri={{ url("ulogin_auth_index", {"backurl":path('personal_area_company.about')})|url_encode }}">
     {#data-ulogin="display=buttons;fields=first_name,last_name,email;providers=vkontakte,facebook,googleplus,odnoklassniki;lang=ru;hidden=;redirect_uri={{ url("ulogin_auth_index", {"backurl":path(request.get('_route'), request.get('_route_params'))})|url_encode }}">#}

    {% if not app.user %}
        {% if vk_show %}
    <div {% if active %}class="active"{% endif %} id="vk" data-uloginbutton="vkontakte"></div>
    {% endif %}
        {% if fb_show %}
    <div {% if active %}class="active"{% endif %} id="fb"  data-uloginbutton="facebook"/></div>
{% endif %}
        {% if gplus_show %}
<div {% if active %}class="active"{% endif %} id="gplus"  data-uloginbutton="googleplus"/></div>
{% endif %}
        {% if odnoclass_show %}
        <div {% if active %}class="active"{% endif %} id="odnoclass"  data-uloginbutton="odnoklassniki"/></div>
        {% endif %}
    {% else %}
    {% set arr = [] %}
        {% for ul in app.user.ulogin %}
            {% set arr = arr|merge({(ul.id): ul.network}) %}
        {% endfor %}
            {% if vk_show %}
            {% if 'vkontakte' in arr %}
                <div class="active" id="vk" data-uloginbutton="vkontakte"></div>
            {% else %}
                <div id="vk" data-uloginbutton="vkontakte"></div>
            {% endif %}
            {% endif %}
            {% if fb_show %}
            {% if 'facebook' in arr %}
                <div class="active" id="fb" data-uloginbutton="facebook"></div>
            {% else %}
                <div id="fb" data-uloginbutton="facebook"></div>
            {% endif %}
            {% endif %}
            {% if gplus_show %}
            {% if 'googleplus' in arr %}
                <div class="active" id="gplus" data-uloginbutton="googleplus"></div>
            {% else %}
                <div id="gplus" data-uloginbutton="googleplus"></div>
                {% endif %}
                {% endif %}
            {% if odnoclass_show %}
            {% if 'odnoklassniki' in arr %}
                <div class="active" id="odnoclass" data-uloginbutton="odnoklassniki"></div>
            {% else %}
                <div id="odnoclass" data-uloginbutton="odnoklassniki"></div>
            {% endif %}
            {% endif %}
        {#{% endfor %}#}
        {#<div {% if active %}class="active"{% endif %} id="fb"  data-uloginbutton="facebook"/></div>#}
        {#<div {% if active %}class="active"{% endif %} id="gplus"  data-uloginbutton="googleplus"/></div>#}
        {#<div {% if active %}class="active"{% endif %} id="odnoclass"  data-uloginbutton="odnoklassniki"/></div>#}
    {% endif %}
</div>
<script>uLogin.customInit('{{ id }}');</script>