{% if app.user %}
    <div class="balance">
        <div>Общий баланс: <span class="blue money_user">{{ app.user.money|number_format(2, '.', ' ') }}</span> <span
                    class="blue">Р</span></div>
        <div>Баланс с доступными средствами для вывода: <span
                    class="green">{{ app.user.withdrawMoney|number_format(2, '.', ' ') }}</span> <span
                    class="green">Р</span></div>
        {% if app.user.withdrawMoney %}<a href="javascript:void(0);" data-href="#withdraw_money_form_modal"
                                          class="blueButton popup-link">Вывести деньги</a>{% endif %}

        <a href="javascript:void(0);" data-href="#make_money_form_modal"
           class="blueButton popup-link">Внести деньги</a>
    </div>

    {% if app.user.withdrawMoney %}
        <div class="fancy-popup-modal" id="withdraw_money_form_modal">
            <div class="modalBlock">
                <div class="fancy-close close"></div>
                <h3>Вывод денег</h3>

                <div class="clear border"></div>
                {{ form_start(form_withdraw_money) }}
                <div class="input box-label-input">
                    {{ form_label(form_withdraw_money.money) }}
                    <span class="spantext">Максимальная сумма вывода {{ app.user.withdrawMoney }} рублей</span>
                    {{ form_widget(form_withdraw_money.money) }}
                </div>
                <div class="form__box" id="withdraw_money_global_errors">
                </div>
                <div class="input">
                    <input type="submit" class="blueButton" value="Отправить">
                </div>
                {% include ":misc:loader.html.twig" %}
                {{ form_end(form_withdraw_money) }}

                <div class="clear border"></div>
                <div class="blueButton fancy-close">Закрыть</div>
            </div>
        </div>
        <div class="fancy-popup-modal" id="withdraw_money_form_modal_success">
            <div class="modalBlock">
                <div class="fancy-close close"></div>
                <h3>Заявка на вывод денег</h3>

                <div class="clear border"></div>
                <p>Вы успешно подали заявку на вывод средств с вашего аккаунта! С Вами скоро свяжутся!</p>

                <div class="clear border"></div>
                <div class="blueButton fancy-close">Закрыть</div>
            </div>
        </div>
    {% endif %}
    <div class="fancy-popup-modal" id="make_money_form_modal">
        <div class="modalBlock">
            <div class="fancy-close close"></div>
            <h3>Внесение денег</h3>

            <div class="clear border"></div>
            {{ form_start(form_make_money) }}
            <div class="input box-label-input">
                {{ form_label(form_make_money.money) }}
                {{ form_widget(form_make_money.money) }}
            </div>
            <div class="form__box" id="make_money_global_errors">
            </div>
            <div class="input">
                <input type="submit" class="blueButton" value="Отправить">
            </div>
            {% include ":misc:loader.html.twig" %}
            {{ form_end(form_make_money) }}

            <div class="clear border"></div>
            <div class="blueButton fancy-close">Закрыть</div>
        </div>
    </div>
    <div class="fancy-popup-modal" id="make_money_form_modal_success">
        <div class="modalBlock">
            <div class="fancy-close close"></div>
            <h3>Успешная оплата</h3>

            <div class="clear border"></div>
            <p>Вы успешно положили деньги на счет!</p>

            <div class="clear border"></div>
            <div class="blueButton fancy-close">Закрыть</div>
        </div>
    </div>
{% endif %}