{% extends '::base.html.twig' %}

{% block leftColumn %}
    <script>
        var event_id = {{ event.id }};
    </script>
    <div class="leftColumn filter">
        <div class="overflowLeft">
            {% if event.charity %}
                <div id="form_buy_ticket" style="position: relative;">
                    {{ form_start(form_donation) }}
                    <div class="inner">
                        <h3>Пожертвование</h3>

                        <div class="inner">
                            <div class="input box-label-input">
                                {{ form_label(form_donation.money) }}
                                {{ form_widget(form_donation.money) }}
                            </div>
                            {% if app.user %}
                                <div class="itog">
                                    <p>Макс. сумма пожертвования: {{ app.user.money|number_format(0, '.', ' ') }}
                                        рублей</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="clear border"></div>
                        <div class="inner">
                            <div class="itog">
                                <div id="event_donation_form_global_errors" class="form_global_errors">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear border"></div>
                    <div class="inner">
                        <div class="itog">
                            <button type="submit" class="blueButton" id="donate_send_button" style="display: none">
                                Оплатить
                            </button>
                            <div class="input">
                                {% if app.user %}
                                    <a href="javascript:void(0);" data-href="#donation_modal"
                                       class="blueButton popup-link">
                                        Пожертвовать
                                    </a>
                                {% else %}
                                    <a href="{{ path('registrate_homepage') }}"
                                       class="blueButton">Авторизоваться</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% include ':misc:loader.html.twig' %}
                    {{ form_end(form_donation) }}
                </div>
            {% else %}
                <div id="form_buy_ticket" style="position: relative;">
                    {{ form_start(form_ticket) }}
                    <div class="inner">
                        <h3>Купить билет</h3>

                        <div class="clear border"></div>
                        <input id="datetimepicker_reserv_event" value="{{ 'now'|date('Y-m-d') }}">

                        <script>
                            var json_tp = '{{ json_tp|json_encode()|raw }}';
                            var json_prices = '{{ json_prices|json_encode()|raw }}';
                        </script>

                        <div class="input box-label-input">
                            {{ form_widget(form_ticket.timeprices, {'attr': {'class': 'analytics-filter__inp'}}) }}
                        </div>
                    </div>
                    <div class="clear border"></div>
                    <div class="inner">
                        <div class="input box-label-input">
                            {{ form_label(form_ticket.cntTickets) }}
                            {{ form_widget(form_ticket.cntTickets, {'attr': {'class': 'analytics-filter__inp', 'min': 1}, 'disabled': true}) }}
                        </div>
                        {% if form_ticket.service|length %}
                            <div class="clear border"></div>
                            <div class="checkboxes">
                                {{ form_label(form_ticket.service) }}

                                {% for service_choi in form_ticket.service %}
                                    <div class="checkbox input-ch-nowrap">
                                        {% if price_by_id[service_choi.vars.form.vars.value] is defined %}
                                            {{ form_widget(service_choi, {'attr': {'class': 'form__radio service_ticket_select', 'data-price': price_by_id[service_choi.vars.form.vars.value]}, 'checked': false, 'disabled': true }) }}
                                        {% else %}
                                            {{ form_widget(service_choi, {'attr': {'class': 'form__radio service_ticket_select'}, 'checked': false, 'disabled': true }) }}
                                        {% endif %}
                                        {{ form_label(service_choi) }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                    <div class="inner">
                        <div class="itog">
                            <div id="eventsbundle_ticket_form_global_errors" class="form_global_errors">
                            </div>
                        </div>
                    </div>
                    <div class="clear border"></div>
                    <div class="inner">
                        <div class="itog">
                            <p>Итого к оплате: <span class="green full_price_ticket">0</span> <span
                                        class="green">Р</span>
                            </p>

                            <button type="submit" class="blueButton" id="buy_ticket_button" style="display: none">
                                Оплатить
                            </button>
                            <div class="input">
                                {% if app.user %}
                                    <a href="javascript:void(0);" data-href="#buy_ticket_modal"
                                       class="blueButton popup-link">
                                        Оплатить
                                    </a>
                                    <a href="javascript:void(0);" data-href="#gift_send_form_modal"
                                       class="borderButton popup-link">
                                        Подарить
                                    </a>
                                {% else %}
                                    <a href="{{ path('registrate_homepage') }}" class="blueButton">Авторизоваться</a>
                                {% endif %}
                            </div>
                            <a id="showRules">Ознакомьтесь с правилами покупки</a>
                        </div>
                    </div>

                    {{ form_widget(form_ticket._token) }}
                    {% include ':misc:loader.html.twig' %}
                    {{ form_end(form_ticket, {'render_rest': false}) }}
                </div>
            {% endif %}
        </div>
        <div id="arrowSlide"></div>
    </div>

{% endblock %}


{% block modals %}
    {#{% if event.postVkWidget|trim and event.idPostVk|trim %}#}
    {#<div class="fancy-popup-modal" id="js-subVK-modal">#}
    {#<div class="modalBlock">#}
    {#<div class="fancy-close close"></div>#}
    {#<h3>Сделай репост! Получи подарок!</h3>#}

    {#<div class="clear border"></div>#}
    {#<div id="vk_post_{{ vkIdGroup }}_{{ event.idPostVk }}"></div>#}

    {#<div class="clear border"></div>#}
    {#<div class="blueButton fancy-close">Закрыть</div>#}
    {#</div>#}
    {#</div>#}
    {#{% endif %}#}
    {% if event.charity %}
        <div class="fancy-popup-modal" id="event_donation_success">
            <div class="modalBlock">
                <div class="fancy-close close"></div>
                <h3>Подтверждение</h3>

                <div class="clear border"></div>
                <p>Вы успешно пожертвовали деньги на данное мероприятие</p>

                <div class="clear border"></div>
                <div class="blueButton fancy-close">Закрыть</div>
            </div>
        </div>
        <div class="fancy-popup-modal" id="donation_modal">
            <div class="modalBlock">
                <div class="fancy-close close"></div>
                <h3>Подтверждение</h3>

                <div class="clear border"></div>
                <p>Вы уверены что хотите пожертвовать деньги на данное мероприятие?</p>

                <p>Сумма перевода: <span class="green full_price_donation">0</span> <span class="green">Р</span>
                </p>

                <div class="clear border"></div>
                <label id="label_for_donate_send_button" for="donate_send_button" class="blueButton"
                       style="display: block">Пожертвовать</label>
                {#<div class="blueButton fancy-close">Закрыть</div>#}
            </div>
        </div>
    {% else %}
        <div class="fancy-popup-modal" id="buy_ticket_modal">
            <div class="modalBlock">
                <div class="fancy-close close"></div>
                <h3>Подтверждение покупки</h3>

                <div class="clear border"></div>
                <p>Вы уверены что хотите преобрести билеты на данное мероприятие?</p>

                <p>Полная стоимость: <span class="green full_price_ticket">0</span> <span class="green">Р</span>
                </p>

                <div class="clear border"></div>
                <label id="label_for_buy_ticket_button" for="buy_ticket_button" class="blueButton"
                       style="display: block">Да!
                    Купить!</label>
                {#<div class="blueButton fancy-close">Закрыть</div>#}
            </div>
        </div>
    {% endif %}
    {% if app.user %}
        {% if form_gift is defined %}
            <div class="fancy-popup-modal" id="gift_send_form_modal">
                <div class="modalBlock">
                    <div class="fancy-close close"></div>
                    <h3>Задать вопрос</h3>

                    <div class="clear border"></div>
                    {{ form_start(form_gift) }}

                    <div class="input box-label-input">
                        {{ form_label(form_gift.firstname) }}
                        {{ form_widget(form_gift.firstname) }}
                    </div>

                    <div class="input box-label-input">
                        {{ form_label(form_gift.secondname) }}
                        {{ form_widget(form_gift.secondname) }}
                    </div>

                    <div class="input box-label-input">
                        {{ form_label(form_gift.email) }}
                        {{ form_widget(form_gift.email) }}
                    </div>

                    <div class="input box-label-input">
                        {{ form_label(form_gift.phone) }}
                        {{ form_widget(form_gift.phone) }}
                    </div>

                    <div class="form__box" id="eventsbundle_gift_form_global_errors">
                    </div>
                    <div class="clear border"></div>
                    <div>
                        <input type="submit" class="blueButton" value="Подарить">
                    </div>
                    <div class="input box-label-input" style="display: none;">
                        {{ form_widget(form_gift.cntTickets) }}
                        {{ form_widget(form_gift.timeprices) }}
                        {{ form_widget(form_gift.service) }}
                    </div>
                    {% include ":misc:loader.html.twig" %}
                    {{ form_end(form_gift) }}
                </div>
            </div>
            <div class="fancy-popup-modal" id="eventsbundle_ticket_success">
                <div class="modalBlock">
                    <div class="fancy-close close"></div>
                    <h3>Билеты куплены!</h3>

                    <div class="clear border"></div>
                    <p>Вся информация была отправлена Вам на почту. Так же Вы можете посмотреть историю в личном кабинете</p>

                    <div class="clear border"></div>
                    <div class="blueButton fancy-close">Закрыть</div>
                </div>
            </div>
            <div class="fancy-popup-modal" id="eventsbundle_gift_success">
                <div class="modalBlock">
                    <div class="fancy-close close"></div>
                    <h3>Подарок успешно отправлен!</h3>

                    <div class="clear border"></div>
                    <p>Вся информация была отправлена на почту вашего друга!</p>

                    <div class="clear border"></div>
                    <div class="blueButton fancy-close">Закрыть</div>
                </div>
            </div>
        {% endif %}
        <div class="fancy-popup-modal" id="add_question_form_modal">
            <div class="modalBlock">
                <div class="fancy-close close"></div>
                <h3>Задать вопрос</h3>

                <div class="clear border"></div>
                {{ form_start(form_question) }}

                <div class="input box-label-input">
                    {{ form_label(form_question.text) }}
                    {{ form_widget(form_question.text) }}
                </div>

                <div class="form__box" id="eventsbundle_question_global_errors">
                </div>
                <div class="clear border"></div>
                <div>
                    <input type="submit" class="blueButton" value="Отправить">
                </div>
                {% include ":misc:loader.html.twig" %}
                {{ form_end(form_question) }}
            </div>
        </div>
        <div class="fancy-popup-modal" id="add_comment_form_modal">
            <div class="modalBlock">
                <div class="fancy-close close"></div>
                <h3>Оставить комментарий</h3>

                <div class="clear border"></div>
                {{ form_start(form_comment) }}

                <div class="input box-label-input">
                    {{ form_label(form_comment.text) }}
                    {{ form_widget(form_comment.text) }}
                </div>
                <div class="input box-label-input stars-input set-stars-input">
                    {{ form_label(form_comment.rating_quality) }}
                    {{ form_widget(form_comment.rating_quality) }}
                </div>
                <div class="input box-label-input stars-input set-stars-input">
                    {{ form_label(form_comment.rating_saturation) }}
                    {{ form_widget(form_comment.rating_saturation) }}
                </div>
                <div class="input box-label-input stars-input set-stars-input">
                    {{ form_label(form_comment.rating_interestingness) }}
                    {{ form_widget(form_comment.rating_interestingness) }}
                </div>

                <div class="input">
                    <div id="preview-wrapper_{{ form_comment.vars.id }}_form" class="dropzone-preview-list"></div>
                </div>
                <div class="input">
                    <div class="dropzone-previews dz-message">
                        <div class="">Вы можете поместить сюда свои фотографии</div>
                    </div>
                </div>

                <div class="form__box" id="eventbundle_comment_global_errors">
                </div>
                <div class="clear border"></div>
                <div>
                    <input type="submit" class="blueButton" value="Отправить">
                </div>
                {% include ":misc:loader.html.twig" %}
                {{ form_end(form_comment) }}
            </div>
        </div>
        <div class="fancy-popup-modal" id="send-question_success">
            <div class="modalBlock">
                <div class="fancy-close close"></div>
                <h3>Вопрос отправлен</h3>

                <div class="clear border"></div>
                <p>Вы успешно отправили вопрос организатору! Как только организатор ответит на него, Вам прийдет
                    оповещение
                    на почту</p>

                <div class="clear border"></div>
                <div class="blueButton fancy-close">Закрыть</div>
            </div>
        </div>
        <div class="fancy-popup-modal" id="send-comment-event_success">
            <div class="modalBlock">
                <div class="fancy-close close"></div>
                <h3>Комментарий отправлен</h3>

                <div class="clear border"></div>
                <p>Вы успешно оставили комментарий к данному мероприятию!</p>

                <div class="clear border"></div>
                <div class="blueButton fancy-close">Закрыть</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="gradientBlock">
        <div class="inner">
            <div class="left">
                <div class="breadcrumbs">
                </div>
                <h2>{{ event.name }}</h2>
            </div>
            <div class="organizator">
                {% set path_to_logo %}
                    {% if event.company.typeCompany == 5 %}
                        {% path event.company.usercompany.avatar, 'small' %}
                    {% else %}
                        {% path event.company.logo, 'small' %}
                    {% endif %}
                {% endset %}
                {% if path_to_logo|trim %}
                    <div class="logo" style="background:url({{ path_to_logo|trim }});"></div>
                {% endif %}
                <div class="name">Организатор: <a
                            href="{{ path('company_view', {'url': event.company.url}) }}">{% if event.company.typeCompany == 5 %}{{ event.company.usercompany.firstname }} {{ event.company.usercompany.lastname }}{% else %}{{ event.company.nameCompany }}{% endif %}</a>
                </div>
            </div>
            <div class="clear borderwhite"></div>
            <div class="description">
                <div class="infoEvent">
                    {% if event.charity %}
                        <div>Благотворительность: <span>{{ event.sumDonates }} Р</span></div>
                    {% else %}
                        <div>Сходило: <span>{{ event.countWentPeoples }} человек</span></div>
                    {% endif %}
                    <div>Средний рейтинг:
                        <div class="ratig">
                            <div class="wrapRating">
                                {% if event.avgRating > 0 %}
                                    {% for i in 1..event.avgRating %}
                                        <div></div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="ratingToolTip">
                                <span>Организация мепроприятия:</span>

                                <div class="wrapRating">
                                    {% if event.avgQuality > 0 %}
                                        {% for i in 1..event.avgQuality %}
                                            <div></div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <span>Насыщенность программы:</span>

                                <div class="wrapRating">
                                    {% if event.avgSaturation > 0 %}
                                        {% for i in 1..event.avgSaturation %}
                                            <div></div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <span>Интересность:</span>

                                <div class="wrapRating">
                                    {% if event.avgInterestingness > 0 %}
                                        {% for i in 1..event.avgInterestingness %}
                                            <div></div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if event.idPostVk|trim %}
                        <a class="blueButton" id="js-subVK"
                           href="{{ linkGroup }}?w=wall{{ vkIdGroup }}_{{ event.idPostVk }}" target="_blank">Сделать
                            репост</a>
                        {#{{ event.postVkWidget | raw }}#}
                    {% endif %}
                </div>
                <p>
                    {{ event.description | nl2br }}
                </p>
            </div>
            {% if (gallary_images is not null) or (gallary_youtube is not null) %}
                <div class="photovieowrap">
                    <div class="photovideo">
                        {% if gallary_images is not null %}
                            <div class="event_show_photo active">Фото</div>
                        {% endif %}
                        {% if gallary_youtube is not null %}
                            <div class="event_show_youtube {% if gallary_images is null %}active{% endif %}">
                                Видео
                            </div>
                        {% endif %}
                    </div>
                    <div class="photos">
                        {% if gallary_images is not null %}
                            {% for image in gallary_images|slice(0, 4) %}
                                {% set path_image %}{% path image, 'reference' %}{% endset %}
                                <a class="fancybox-gallary"
                                   style="background-image: url({{ path_image | imresize('event_gallary_medium') }})"
                                   rel="slice_gallery{{ event.id }}" href="{% path image, 'reference' %}"
                                   title="{{ event.name }} - {{ image.name }}">
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="videos" style="display: none">
                        {% if gallary_youtube is not null %}
                            {% for youtube in gallary_youtube|slice(0, 4) %}
                                {% set path_youtube %}{% path youtube, 'reference' %}{% endset %}
                                <a class="fancybox-youtube"
                                   style="background-image: url({{ path_youtube | imresize('event_gallary_medium') }})"
                                   href="https://www.youtube.com/watch?v={{ youtube.providerReference }}"
                                   title="{{ event.name }} - {{ youtube.name }}">
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if gallary_images is not null %}
                        <div class="showOther photos" id="showMorePhoto">
                            <div>Показать еще</div>
                        </div>
                    {% endif %}
                    {% if gallary_youtube is not null %}
                        <div class="showOther videos" id="showMoreVideo" style="display: none">
                            <div>Показать еще</div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

        </div>
        <div class="scrollDown"></div>
    </div>
    <div class="inner">
        <div class="questionsBt">
            <div class="question_block">
                <span class='change_block active'>Вопросы</span>
                <span> / </span>
                <span class='change_block' id="change_to_reviews">отзывы</span>
            </div>
            <div class="reviews_block">
                <span class='change_block' id="change_to_questions">вопросы</span>
                <span> / </span>
                <span class='change_block active'>Отзывы</span>
            </div>

            {% if app.user %}
                <div class="question_block">
                    <a href="javascript:void(0);" data-href="#add_question_form_modal"
                       class="blueButton popup-link">
                        Добавить вопрос
                    </a>
                </div>

                <div class="reviews_block">
                    <a href="javascript:void(0);" data-href="#add_comment_form_modal"
                       class="blueButton popup-link">
                        Добавить отзыв
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="clear border"></div>
        <div class="question_block">
            {{ render(controller('EventsBundle:Questions:load', {
                'event_id': event.id,
                'page': 1
            })) }}
        </div>

        <div class="reviews_block">
            {{ render(controller('AppBundle:Reviews:load', {
                'event_id': event.id,
                'page': 1
            })) }}
        </div>
    </div>
{% endblock %}
{% block other_content %}
    <div class="viewsAll">
        <div class="overlay"></div>
        <div class="haederViews">
            <div class="inner">
                <form class="controls" id="Filters">
                    <fieldset>
                        <div class="radiobox">
                            <input checked="checked" id="view1" value=".mix" type="radio"
                                   name="headerViews"/>
                            <label for="view1"><i></i>Все</label>
                        </div>
                        <div class="radiobox">
                            <input id="view2" type="radio" name="headerViews" value=".circle"/>
                            <label for="view2"><i></i>Только от организатора</label>
                        </div>
                        <div class="radiobox">
                            <input id="view3" type="radio" name="headerViews" value=".triangle"/>
                            <label for="view3"><i></i>Только от пользователей сходивших на
                                мероприятие</label>
                        </div>
                        <div class="close"></div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="allPic">
            <div id="Container" class="container">
                <div class="fail-message"><span>Нет изображений</span></div>
                {% if gallary_images is not null %}
                    {% for image in gallary_images %}
                        {% set path_image %}{% path image, 'reference' %}{% endset %}
                        <a class="fancybox-gallary mix {% if image.author and event.company.usercompany.id == image.author.id %}circle{% else %}triangle{% endif %}"
                           style="background-image: url({{ path_image | imresize('event_gallary_medium') }})"
                           rel="gallery_event{{ event.id }}" href="{% path image, 'reference' %}"
                           title="{{ event.name }} - {{ image.name }}">
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="viewsVideoAll">
        <div class="overlay"></div>
        <div class="haederViews">
            <div class="inner">
                <form class="controls" id="Filters">
                    <fieldset>
                        <div class="radiobox">
                            <input checked="checked" id="view1" value=".mix" type="radio"
                                   name="headerViews"/>
                            <label for="view1"><i></i>Все</label>
                        </div>
                        <div class="close"></div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="allPic">
            <div id="Container" class="container">
                <div class="fail-message"><span>Нет изображений</span></div>
                {% if gallary_youtube is not null %}
                    {% for video in gallary_youtube %}
                        {% set path_youtube %}{% path video, 'reference' %}{% endset %}
                        <a class="fancybox-youtube mix"
                           style="background-image: url({{ path_youtube | imresize('event_gallary_medium') }}); display: inline-block;"
                           href="https://www.youtube.com/watch?v={{ video.providerReference }}"
                           title="{{ event.name }} - {{ video.name }}">
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="imageView">
        <div class="overlay"></div>
        <div class="close"></div>
        <div class="img"><img alt=""></div>
        <div class="nav">
            <div class="slideRight"></div>
            <div class="slideLeft"></div>
        </div>
    </div>
{% endblock %}



{% block stylesheets %}
    {{ parent() }}

    {#<link rel="stylesheet" href="{{ asset('bundles/app/js/dropzone/dist/basic.css') }}">#}
    <link rel="stylesheet" href="{{ asset('bundles/app/js/dropzone/dist/dropzone.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/app/js/fileInputs/js/custom-file-input.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/app/js/dropzone/dist/dropzone.js') }}"></script>
{% endblock %}