<!--macros/menu-macros.html-->
{% for link in links %}
    {% if link['__children']and link['__children']|length %}
        <li class="parent level_{{ link['lvl'] }}">
            <a style="background:url(/bundles/app/img/menu1.png);">
                <div class="checkbox input-ch-nowrap">
                    <input type="checkbox" class="inner_checkbox" id="checkbox_{{ link['id'] }}"
                           value="{{ link['id'] }}" {% if link['id'] in menu %}checked="checked"{% endif %}>
                    <label for="checkbox_{{ link['id'] }}"></label>
                </div>
                <div class="inner">
                    <span>{{ link['title'] }}</span>
                    <i></i>
                </div>
            </a>
            <ul>
                {% include "@App/macros/menu-macros.html.twig" with {'links':link['__children']} %}
            </ul>
        </li>
    {% else %}
        <li class="level_{{ link['lvl'] }}">
            <a style="background:url(/bundles/app/img/menu1.png);">
                <div class="checkbox input-ch-nowrap">
                    <input type="checkbox" class="inner_checkbox" id="checkbox_{{ link['id'] }}"
                           value="{{ link['id'] }}" {% if link['id'] in menu %}checked="checked"{% endif %}>
                    <label for="checkbox_{{ link['id'] }}"></label>
                </div>
                <div class="inner">
                    <span>{{ link['title'] }}</span>
                    <i></i>
                </div>
            </a>
        </li>
    {% endif %}
{% endfor %}