{% extends '::base_cabinet.html.twig' %}


{% block body %}
    <div class="inner headColumn">
        <div class="left">
            <h2>Личная информация</h2>
        </div>
        <div class="clear border"></div>
        {{ form_start(form_edit, {'action': path('personal_area_company.useredit'), 'method': 'POST'}) }}
        {{ form_errors(form_edit) }}
        <h4>Логотип</h4>
        <span class="spantext">Загрузите свой логотип. Максимальный размер 600x600 пикселей.</span>
        <label for="avatarUser">
            {% set path_avatar %}{% path user.avatar, 'medium' %}{% endset %}
            <div class="logoCompany"
                 id="avatarUserShow"{% if path_avatar %} style="background: url({{ path_avatar }}) center no-repeat;" {% endif %}>
            </div>
            <!--Если изображение загружено, ставим класс "loadedImage"-->
            {{ form_widget(form_edit.setavatar) }}
        </label>
        <input type="file" id="avatarUser" class="hide" name="files">

        <div class="companyInputs">
            <div class="input box-label-input">
                <label for="user_info_lastname">
                    <h4>Фамилия</h4>
                </label>
                {{ form_widget(form_edit.lastname, {'attr': {'class': 'form__inp', 'value': user.lastname}}) }}
            </div>
            <div class="input box-label-input">
                <label for="name">
                    <h4>Имя</h4>
                </label>
                {{ form_widget(form_edit.firstname, {'attr': {'class': 'form__inp', 'value': user.firstname}}) }}
            </div>
            <div class="input box-label-input">
                <label for="phone">
                    <h4>Телефон</h4>
                </label>
                {{ form_widget(form_edit.phone, {'attr': {'class': 'form__inp phone_mask', 'value': user.phone}}) }}
            </div>
            <div class="input box-label-input">
                <label for="phone_disabled">
                    <h4>E-mail</h4>
                </label>
                <input type="text" class="form__inp" value="{{ user.email }}" disabled="disabled" readonly="readonly">
                {#{{ form_widget(form_edit.email, {'attr': {'class': 'form__inp', 'value': user.email}}) }}#}
            </div>
            <div class="input">
                <label for="referallink">
                    <h4>Реферальная ссылка</h4>
                </label>
                <input type="text" readonly="readonly"
                       value="{{ url('referral_link', {'code': user.referralLink}) }}"
                       id="referral_link">
                <a href="javascript:void(0)" class="addEvent blueButton clipboard_btn"
                   data-clipboard-target="#referral_link" id="referral_link_btn_copy">
                    <img src="/bundles/app/img/clippy.png" alt="Copy to clipboard">
                </a>
            </div>
            <div class="input">
                <label>
                    <h4>Прикрепленные соц. сети</h4>
                </label>

                {{ include('UloginAuthBundle::widget.html.twig', { "uLoginID": "4974d296", 'request': app.request, 'active': false }) }}
            </div>
            <button type="submit" class="blueButton" id="saveInfo">Сохранить</button>
        </div>
        {% include ':misc:loader.html.twig' %}
        {{ form_end(form_edit) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>


    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/app/js/fileInputs/js/custom-file-input.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/personalarea/js/create_company.js') }}"></script>
    <script src="{{ asset('bundles/app/js/uploader_file.js') }}"></script>
    <script src="{{ asset('bundles/app/js/clipboard.js-master/dist/clipboard.min.js') }}"></script>
    <script>
        var Clipboard_btn = new Clipboard('.clipboard_btn');
    </script>
{% endblock %}