{% extends '::base_cabinet.html.twig' %}

{% block body %}
    <div class="inner headColumn">
        <div class="left">
            <h2>Информация о компании</h2>
        </div>
        <div class="clear border"></div>
        {{ form_start(form_edit, {'action': path('personal_area_company.about.company.edit'), 'method': 'POST'}) }}
        {{ form_errors(form_edit) }}

        <h4>Логотип</h4>
        <span class="spantext">Загрузите свой логотип. Максимальный размер 600x600 пикселей.</span>
        <label for="avatarUser">
            {% set path_avatar %}{% path company.logo, 'big' %}{% endset %}
            <div class="logoCompany"
                 id="logoCompany" {% if path_avatar %} style="background: url({{ path_avatar|trim }}) center no-repeat;" {% endif %}>
            </div>
            <!--Если изображение загружено, ставим класс "loadedImage"-->
            {{ form_widget(form_edit.logo) }}
        </label>
        <input type="file" id="avatarUser" class="hide" name="files">

        <div class="companyInputs">
            {% if company.formOrganization %}
                <div class="input box-label-input">
                    <label for="name">
                        <h4>Форма организации</h4>
                    </label>
                    <input type="text" class="form__inp" value="{{ company.formOrganization.name }}" disabled="disabled"
                           readonly="readonly">
                </div>
            {% endif %}
            <div class="input box-label-input">
                <label for="user_info_lastname">
                    <h4>Название компании</h4>
                </label>
                {{ form_widget(form_edit.nameCompany, {'attr': {'class': 'form__inp', 'value': company.nameCompany}}) }}
            </div>
            <div class="input box-label-input fullWidth textarea">
                <label for="user_info_lastname">
                    <h4>Текст о компании</h4>
                </label>
                {{ form_widget(form_edit.textAbout, {'attr': {'class': 'form__inp', 'value': company.textAbout}}) }}
            </div>
            <div class="clear"></div>
            <div class="input box-label-input">
                <label for="name">
                    <h4>Телефон для администратора</h4>
                </label>
                <input type="text" class="form__inp phone_mask" value="{{ company.phoneForAdmin }}" disabled="disabled"
                       readonly="readonly">
            </div>
            <div class="input box-label-input">
                <label for="name">
                    <h4>Телефон для пользователей</h4>
                </label>
                <input type="text" class="form__inp phone_mask" value="{{ company.phoneForUsers }}" disabled="disabled"
                       readonly="readonly">
            </div>
            <div class="input box-label-input">
                <label for="name">
                    <h4>Фио директора</h4>
                </label>
                <input type="text" class="form__inp" value="{{ company.dirname }}" disabled="disabled"
                       readonly="readonly">
            </div>
            <div class="input box-label-input">
                <label for="name">
                    <h4>ОРГН</h4>
                </label>
                <input type="text" class="form__inp" value="{{ company.orgn }}" disabled="disabled"
                       readonly="readonly">
            </div>

            <div class="input textarea">
                <h4>Карта</h4>
                {#<span class="spantext">Каждый веб-разработчик знает, что такое текст-«рыба».</span>#}

                <div id="map_edit_company" style="width: 100%; height: 400px;"></div>
            </div>
            <button type="submit" class="blueButton" id="saveInfo">Сохранить</button>
        </div>

        {% include ':misc:loader.html.twig' %}
        {{ form_end(form_edit) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>


    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/app/js/fileInputs/js/custom-file-input.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/personalarea/js/edit_company.js') }}"></script>
    <script src="{{ asset('bundles/app/js/uploader_file.js') }}"></script>

{% endblock %}

