{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            $('.btn-group > ul.dropdown-menu a').click(function(e){
                var flds = $('#custom-user-fields').val();
                var uri = $(this).attr('href');

                flds.forEach(function(val, i){
                    uri = uri + '&customuserfields[]=' + val
                });
                $(this).attr('href', uri);
            });
        });
    </script>
    <style>
        .custom-add-form {
            margin-top: 15px;
            width:50%;
            float: right;
        }
    </style>
{% endblock %}

{% block list_footer %}
    {{ parent() }}
    <div class="custom-add-form">
        <label for="custom-user-fields">Поля для вырузки:</label>
        <select id="custom-user-fields" multiple="multiple" class="form-control select2-offscreen">
            {% for field in admin.userfields %}
                <option value="{{ field.value }}">{{ field.name }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}