{% if comments.currentPageNumber == 1 %}
<div class="reviews textBlock data_block">
    {% endif %}
    {% for comment in comments %}
        <div class="review">
            <div class="head">
                {% if app.user and ((company_id and company_id == comment.company.id) or (event_id == comment.event.id)) %}
                    {% if not comment.requestRemove %}
                        <div class="remove js-remove-comment-complaint" data-id="{{ comment.id }}"><i></i>Подать заявку
                            на удаление
                        </div>
                        <div class="remove js-request-send-remove" style="color: red; display: none;">Заявка на удаление подана</div>
                    {% else %}
                        <div class="remove js-request-send-remove" style="color: red;">Заявка на удаление подана</div>
                    {% endif %}
                {% endif %}
                {% set path_to_logo %}
                    {% path comment.user.avatar, 'small' %}
                {% endset %}
                {% if path_to_logo | trim %}
                    <a href="{{ path('profiles_view', {'url':comment.user.url}) }}">
                        <div class="photo" style="background:url({{ path_to_logo }})"></div>
                    </a>
                {% endif %}

                <div class="nameBlock">
                    <div class="name">
                        <a href="{{ path('profiles_view', {'url':comment.user.url}) }}">{{ comment.user.firstname }} {{ comment.user.lastname }}</a>
                    </div>
                        <span>
                        {% if comment.event %}<a
                            href="{{ path('events_view', {'url': comment.event.url }) }}">{{ comment.event.name }}</a> - {% endif %}{{ comment.createAt|localizeddate('long', 'none', null, null, 'd MMMM YYYYг.') }}
                    </span>
                </div>
                <div class="ratig">
                    <span>Оценка:</span>

                    <div class="wrapRating">
                        {% set calculate_rating = (comment.ratingquality + comment.ratingquality + comment.ratingsaturation) / 3 %}
                        {% if calculate_rating > 0 %}
                            {% for i in 1..calculate_rating|round(0, 'floor') %}
                                <div></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="ratingToolTip">
                        <span>Организация мепроприятия:</span>

                        <div class="wrapRating">
                            {% if comment.ratingquality > 0 %}
                                {% for rating_quality in 1..comment.ratingquality|round(0, 'floor') %}
                                    <div></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <span>Насыщенность программы:</span>

                        <div class="wrapRating">
                            {% if comment.ratingsaturation > 0 %}
                                {% for rating_saturation in 1..comment.ratingsaturation|round(0, 'floor') %}
                                    <div></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <span>Интересность:</span>

                        <div class="wrapRating">
                            {% if comment.ratinginterestingness > 0 %}
                                {% for rating_interestingness in 1..comment.ratinginterestingness|round(0, 'floor') %}
                                    <div></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="clear border2"></div>
                <p>{{ comment.text }}</p>

                {% if comment.images and comment.images.galleryHasMedias | length %}
                    {% for image in comment.images.galleryHasMedias %}
                        {% set loop_index_str = loop.index[-1:1] %}
                        {#{{ dump(loop_index_str) }}#}
                        {% if loop_index_str ==1 or loop_index_str==2
                        or loop_index_str==4 or loop_index_str==5
                        or loop_index_str==6 or loop_index_str==7
                        or loop_index_str==9 or loop_index_str==0 %}
                            {% set type_image = 'comments_small' %}
                        {% else %}
                            {% set type_image = 'comments_medium' %}
                        {% endif %}
                        {% if loop.first %}
                            <div class="images moreThen10">
                        {% endif %}
                        {% set path_image %}{% path image.media, 'reference' %}{% endset %}
                        {% if loop.index <= 9 %}
                            <a class="fancybox-gallary"
                               style="background-image: url({{ path_image | imresize(type_image) }})"
                               rel="gallery{{ comment.id }}" href="{% path image.media, 'reference' %}"
                               title="{{ comment.user.firstname }} {{ comment.user.lastname }} - {#{{ image.media.name }}#}">
                           </a>
                        {% endif %}
                        {% if loop.index == 10 %}
                            <a class="fancybox-gallary {% if comment.images.galleryHasMedias|length > 10 %}blueImage{% endif %}"
                               style="background-image: url({{ path_image | imresize(type_image) }})" rel="gallery1"
                               href="{% path image.media, 'reference' %}"
                               title="{{ comment.user.firstname }} {{ comment.user.lastname }} - {{ image.media.name }}">
                                {% if comment.images.galleryHasMedias|length > 10 %}<span>
                                    +{{ comment.images.galleryHasMedias|length - 10 }}</span>{% endif %}
                            </a>
                            </div>
                        {% endif %}

                        {% if loop.index == 11 %}
                            <div class="images moreAfterThen10">
                        {% endif %}
                        {% if loop.index > 10 %}
                            <a class="fancybox-gallary"
                               style="background-image: url({{ path_image | imresize(type_image) }})"
                               rel="gallery{{ comment.id }}" href="{% path image.media, 'reference' %}"
                               title="{{ comment.user.firstname }} {{ comment.user.lastname }} - {{ image.media.name }}">
                            </a>
                        {% endif %}
                        {% if loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if comments.currentPageNumber == 1 %}
</div>
{% endif %}
{{ knp_pagination_render(comments, null, {'event_id': event_id, 'user_id': user_id, 'company_id': company_id}) }}
