{% extends '::base_cabinet.html.twig' %}


{% block body %}
    <div class="inner">
        <div class="left">
            <h2>Реклама на портале</h2>
            {% include 'PersonalAreaBundle:misc:cabinet_breadcrumbs.html.twig' with {'bc_add_text': 'Создать рекламу', add_links: {'personal_area_advert.list': 'Реклама'}} %}
        </div>
        {{ render(controller('PersonalAreaBundle:Payment:render')) }}

        <div class="clear border"></div>
        {{ form_start(form_advertcreate) }}
        <div class="input fullWidth box-label-input">
            <h4>
                {{ form_label(form_advertcreate.event) }}
            </h4>
            {{ form_widget(form_advertcreate.event) }}
        </div>

        <div class="input fullWidth box-label-input">
            <h4>
                Выберите места для размещения рекламы
            </h4>
            <select name="select_places[]" id="select_advert_places" multiple="multiple">
                {% for menu1 in menu %}
                    <optgroup label="{{ menu1.title }}">
                        {% for place in menu1.adplaces %}
                            <option value="{{ place.id }}" data-menu="{{ menu1.id }}">{{ place.numPlace }}
                                ({{ place.price }} р/просмотр)
                            </option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
        <div class="clear"></div>
        {#<div class="input topLabel">#}
        <div class="input topLabel box-label-input">
            {{ form_label(form_advertcreate.cntShow) }}
            {{ form_widget(form_advertcreate.cntShow) }}
        </div>
        <div id="advertbundle_advert_create_form_global_errors" class="form_global_errors">
        </div>
        <div class="itogAdver">Итого к оплате: <span class="green fullPriceAdvert">0</span><span class="green">Р</span>
        </div>
        <input type="submit" class="blueButton" value="Оплатить">
        {% include ':misc:loader.html.twig' %}
        {{ form_end(form_advertcreate) }}
    </div>
{% endblock %}

{% block modals %}
    <div class="fancy-popup-modal" id="advertbundle_advert_create_success">
        <div class="modalBlock">
            <div class="fancy-close close"></div>
            <h3>Реклама куплена</h3>

            <div class="clear border"></div>
            <p>Вы успешно приобрели рекламу на нашем портела!</p>

            <div class="clear border"></div>
            <div class="blueButton fancy-close">Закрыть</div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/app/js/multiple-select/multiple-select.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/multiple-select/multiple-select.js') }}"></script>
    <script src="{{ asset('bundles/personalarea/js/create_advert.js') }}"></script>
    <script>
        var price_advert = JSON.parse('{{ ap_menu|json_encode|raw }}');
    </script>
{% endblock %}