{% extends '::base_cabinet.html.twig' %}


{% block body %}
    <div class="inner">
        <div class="left">
            <h2>Реклама на портале</h2>
            {% include 'PersonalAreaBundle:misc:cabinet_breadcrumbs.html.twig' with {'bc_add_text': 'Реклама'} %}
        </div>
        {{ render(controller('PersonalAreaBundle:Payment:render')) }}

        <div class="clear border"></div>
        <a href="{{ path('personal_area_advert.create') }}" class="blueButton">Добавить рекламу</a>
        {% if adverts|length %}
            <table class="colorTable history data_block">
                <tbody>
                <tr class="head">
                    <td>№</td>
                    <td>Название мероприятия</td>
                    <td>Раздел</td>
                    <td>Дата и время создания</td>
                    <td>Кол-во показов осталось</td>
                    <td>Изначальная стоимость</td>
                </tr>
                <tr class="colors">
                    <td colspan="6"></td>
                </tr>
                {% for advert in adverts %}
                    <tr>
                        <td>{{ advert.id }}</td>
                        <td>
                            <a href="{{ path('events_view', {'url': advert.event.url }) }}">
                                {{ advert.event.name }}
                            </a>
                        </td>
                        <td>{{ advert.place.getMenu3.title }}</td>
                        <td>
                            {{ advert.createAt|date('d.m.Y') }}
                            в {{ advert.createAt|date('H:i') }}
                        </td>
                        <td>{{ advert.cntShow }}</td>
                        <td>{% if advert.fullSum %}{{ advert.fullSum|number_format(2, '.', ' ') }}{% else %}0{% endif %} P</td>
                    </tr>
                {% endfor %}
                <tr class="colors">
                    <td colspan="6"></td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}