{% extends '::base_cabinet.html.twig' %}


{% block body %}
    <div class="inner">
        <div class="left">
            <h2>Вопросы</h2>
            {% include 'PersonalAreaBundle:misc:cabinet_breadcrumbs.html.twig' with {'bc_add_text': 'Вопросы'} %}
        </div>
        {{ render(controller('PersonalAreaBundle:Payment:render')) }}

        <div class="clear border"></div>
        <div class="input">
            <div class="blueButton">Новые вопросы</div>
            <a href="{{ path('personal_area_company.questions', {'type': 'old'}) }}" class="borderButton">Старые
                вопросы</a>
        </div>
        <div id="list_new_questions">
            {{ render(controller('PersonalAreaBundle:Questions:load', {
                'page': 1,
                'answer': false
            })) }}
        </div>

        <div id="form_answer_question" style="display: none;">
            {{ form_start(form_question) }}
            <div class="input box-label-input">
                {{ form_label(form_question.answer) }}
                {{ form_widget(form_question.answer) }}
            </div>

            <div class="form__box" id="personalareabundle_question_answer_global_errors">
            </div>
            <div class="input">
                <input type="submit" id="_submit" name="_submit" class="blueButton" value="Ответить">
            </div>
            {% include ":misc:loader.html.twig" %}
            {{ form_end(form_question) }}
        </div>
    </div>
{% endblock %}