{% if questions.currentPageNumber == 1 %}
<div class="questions textBlock data_block">
    {% endif %}
    {% for quest in questions %}
        <div class="js-block-question">
            <div class="head">
                {% set path_to_logo %}
                    {% path quest.user.avatar, 'small' %}
                {% endset %}
                {% if path_to_logo | trim %}
                    <a href="{{ path('profiles_view', {'url':quest.user.url}) }}">
                        <div class="photo" style="background:url({{ path_to_logo }})"></div>
                    </a>
                {% endif %}

                <div class="nameBlock">
                    <div class="name">
                        <a href="{{ path('profiles_view', {'url':quest.user.url}) }}">{{ quest.user.firstname }} {{ quest.user.lastname }}</a>
                    </div>
                    <span>
                        <a href="{{ path('events_view', {'url': quest.event.url }) }}">{{ quest.event.name }}</a>
                    </span>
                </div>
                <div class="remove js-remove-question" data-id="{{ quest.id }}" data-answer="0"><i></i>Удалить</div>
            </div>
            <div class="clear border2"></div>
            <p>{{ quest.text }}</p>
            <h4>Ответ на вопрос</h4>

            <div class="switcher_form_button">
                <div class="switch_to_form">
                    <button class="blueButton show_form_answer_queston" data-id="{{ quest.id }}">Ответить на вопрос
                    </button>
                </div>
                <div class="switch_to_button" style="display: none;">
                </div>
            </div>

            <div class="clearfix"></div>
            {% include ':misc:loader.html.twig' with {'class_loader': 'loader_questions'} %}
        </div>
    {% endfor %}
    {% if questions.currentPageNumber == 1 %}
</div>
{% endif %}
{{ knp_pagination_render(questions, null, {'answer': answer?1:0}) }}