{% extends '::base_cabinet.html.twig' %}

{% block body %}
    <div class="inner">
        <div class="left">
            <h2>Старые вопросы</h2>

            {% include 'PersonalAreaBundle:misc:cabinet_breadcrumbs.html.twig' with {'bc_add_text': 'Старые вопросы'} %}
        </div>
        {{ render(controller('PersonalAreaBundle:Payment:render')) }}

        <div class="clear border"></div>
        <div class="input">
            <a href="{{ path('personal_area_company.questions', {'type': 'new'}) }}" class="borderButton">Новые
                вопросы</a>

            <div class="blueButton">Старые вопросы</div>
        </div>
        {{ render(controller('PersonalAreaBundle:Questions:load', {
            'page': 1,
            'answer': true
        })) }}
    </div>
{% endblock %}

