{% extends '::base.html.twig' %}

    {% block leftColumn %}
        {% include 'ProfilesBundle:misc:left_menu.html.twig' with {'user_find': user_find} %}
    {% endblock %}

{% block body %}
    {% include 'ProfilesBundle:misc:user_info.html.twig' with {'user_find': user_find} %}
    <div class="inner">
        <h2>История посещенных мероприятий</h2>
        {{ render(controller('ProfilesBundle:Events:load', {
            'user_id': user_find.id,
            'type': 'old',
            'page': 1
        })) }}
    </div>
{% endblock %}