<header class="header">
    <div class="inner">
        <a href="{{ path('homepage') }}" class="logo"><img src="{#{{ optipng('#}/bundles/app/img/logo.png{#') }}#}" alt=""></a>
        {#<a href="company.html" class="borderButton personCab">Личный кабинет</a>#}

        <div class="menuWrap">
            <div id="mobileClicker"></div>
            <ul class="menu">
                <li class="parent city-select">
                    <a>{{ city_from_db.name }}<i></i></a>

                    <div class="cityModal" {% if set_cookie %}style="display: none;"
                         {% else %}style="display: block;" {% endif %}>
                        <div class="tangle"></div>
                        <div class="title">Ваш город</div>
                        <div class="cityName">{{ city_from_db.name }}</div>
                        <div class="buttonsProd">
                            <div class="input">
                                <div class="blueButton change_city" id="cityIsRight" data-id="{{ city_from_db.id }}">Да,
                                    все верно
                                </div>
                                <div class="borderButton" id="sellectCity">Выбрать другой</div>
                            </div>
                        </div>
                        {% include ":misc:loader.html.twig" with {'class_loader': 'loader_citys'} %}
                    </div>
                </li>
                <li><a href="{{ path('feed_homepage') }}">Лента города</a></li>
                <li><a href="#">Мы накопили: {{ render(controller('AppBundle:Charity:showSum')) }} Р на благотворительность</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="citySelectModal">
        <div class="inner">
            <h2>Выберите город</h2>

            <div class="close"><i></i>Закрыть</div>
            <div class="cities country1">
                {% set cnt_insert_city = 0 %}
                {% for word, citys_by_word in citys_all %}
                    {% if loop.first %}
                        <div class="column">
                        <ul class="citiesList">
                    {% endif %}
                    <div class="word">{{ word }}</div>
                    {% for citys in citys_by_word %}
                        {% set cnt_insert_city = cnt_insert_city + 1 %}
                        {% if cnt_insert_city % cnt_city == 0 %}
                            </ul>
                            </div>
                        {% endif %}
                        {% if cnt_insert_city % cnt_city == 0 %}
                            <div class="column">
                            <ul class="citiesList">
                        {% endif %}
                        <li data-id="{{ citys.id }}" class="change_city">{{ citys.name }}</li>
                    {% endfor %}
                    {% if loop.last %}
                        </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% include ":misc:loader.html.twig" with {'class_loader': 'loader_citys'} %}
        </div>
    </div>
</header>