{% extends '::registrate.html.twig' %}


{% block body %}
    <div class="autorizateWrap" id="restore-pass" style="">
        <div class="blackOverlay">
            <h2>Восстановление пароля</h2>
            {% include "ApplicationSonataUserBundle:Resetting:reset_content.html.twig" %}
        </div>
    </div>
    <div class="fancy-popup-modal" id="reset-pass_success">
        <div class="modalBlock">
            <div class="fancy-close close"></div>
            <h3>Восстановление пароля</h3>

            <div class="clear border"></div>
            <p>Вы успешно изменили пароль к своему аккаунт.</p>

            <div class="clear border"></div>
            <div class="blueButton fancy-close">Закрыть</div>
        </div>
    </div>
{% endblock body %}
