{{ form_start(form, {'action': path('sonata_user_resetting_reset', {'token': token } ),'attr': {'class':'fos_user_resetting_request form form_ajax', 'id':'fos_user_resetting_form'} }) }}


<div class="input2 box-label-input">
    {{ form_label(form.new) }}
    {{ form_widget(form.new) }}
</div>
<div class="center">
    <button type="submit" class="blueButton">Изменить пароль</button>
</div>
{% include ':misc:loader.html.twig' %}
{{ form_end(form) }}
