<div class="breadcrumbs">
    <a href="{{ path('homepage') }}">Главная</a>
    <span>-</span>
    <a href="{{ path('personal_area_company.about') }}">Личный кабинет</a>
    {% if add_links is defined %}
        {% for link, name in add_links %}
            <span>-</span>
            <a href="{{ path(link) }}">{{ name }}</a>
        {% endfor %}
    {% endif %}
    {% if bc_add_text is defined %}
        <span>-</span>
        <span>{{ bc_add_text }}</span>
    {% endif %}
</div>