<ul class="left_menu">
    {% if app.user %}
        <li {% if app.request.attributes.get('_route') == 'personal_area_company.feed' %}class="active"{% endif %}>
            <a href="{{ path('personal_area_company.feed') }}">
                <div class="inner">Моя лента <i></i></div>
            </a>
        </li>
        <li {% if app.request.attributes.get('_route') == 'personal_area_company.about' %}class="active"{% endif %}>
            <a href="{{ path('personal_area_company.about') }}">
                <div class="inner">Личная информация <i></i></div>
            </a>
        </li>
    {% endif %}
    {% if app.user and  (app.user.company and app.user.company.isActive) %}
        <li {% if app.request.attributes.get('_route') == 'personal_area_company.about.company' %}class="active"{% endif %}>
            <a href="{{ path('personal_area_company.about.company') }}">
                <div class="inner">Информация о компании <i></i></div>
            </a>
        </li>
    {% endif %}
    <li {% if app.request.attributes.get('_route') == 'personal_area_company.referral.have' %}class="active"{% endif %}>
        <a href="{{ path('personal_area_company.referral.have') }}">
            <div class="inner">Рефералка <i></i></div>
        </a>
    </li>
    <li {% if app.request.attributes.get('_route') == 'personal_area_company.events.create' %}class="active"{% endif %}>
        <a href="{{ path('personal_area_company.events.create') }}">
            <div class="inner">Создать мероприятие <i></i></div>
        </a>
    </li>
    {% if app.user and  (app.user.company and app.user.company.isActive) %}
        <li {% if app.request.attributes.get('_route') == 'personal_area_company.events' %}class="active"{% endif %}>
            <a href="{{ path('personal_area_company.events') }}">
                <div class="inner">Мероприятия <i></i></div>
            </a>
        </li>
    {% endif %}
    <li {% if app.request.attributes.get('_route') == 'personal_area_company.desktop' %}class="active"{% endif %}>
        <a href="{{ path('personal_area_company.desktop') }}">
            <div class="inner">Рабочий стол <i></i></div>
        </a>
    </li>
    {% set history_type %}{% if app.user %}buyMe{% else %}your{% endif %}{% endset %}
    <li {% if app.request.attributes.get('_route') == 'personal_area_company.history' %}class="active"{% endif %}>
        <a href="{{ path('personal_area_company.history', {'type': history_type}) }}">
            <div class="inner">История покупок <i></i></div>
        </a>
    </li>
    {% if (app.user) and  (app.user.company and app.user.company.isActive) %}
        <li {% if app.request.attributes.get('_route') == 'personal_area_company.questions' %}class="active"{% endif %}>
            <a href="{{ path('personal_area_company.questions', {'type': 'new'}) }}">
                <div class="inner">Вопросы <i></i></div>
            </a>
        </li>
    {% endif %}
    {% if (not app.user) or (not app.user.company) or (app.user.company and not app.user.company.isActive) %}
        <li {% if app.request.attributes.get('_route') == 'personal_area_registrate' %}class="active"{% endif %}>
            <a href="{{ path('registrate_homepage') }}">
                <div class="inner">Стать организатором <i></i></div>
            </a>
        </li>
    {% endif %}
    {% if app.user %}
        <li {% if app.request.attributes.get('_route') == 'personal_area_gifts.list' %}class="active"{% endif %}>
            <a href="{{ path('personal_area_gifts.list') }}">
                <div class="inner">Подарки <i></i></div>
            </a>
        </li>
    {% endif %}
    {% if (app.user) and  (app.user.company and app.user.company.isActive) %}
        <li {% if app.request.attributes.get('_route') == 'personal_area_advert.list' or app.request.attributes.get('_route') == 'personal_area_advert.create' %}class="active"{% endif %}>
            <a href="{{ path('personal_area_advert.list') }}">
                <div class="inner">Реклама <i></i></div>
            </a>
        </li>
    {% endif %}
    <li>
        <a href="{{ path('fos_user_security_logout') }}">
            <div class="inner">Выход <i></i></div>
        </a>
    </li>
</ul>