{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% block sonata_user_login %}

        {% block sonata_user_login_form %}
            <form action="{{ path("fos_user_security_check") }}" method="post" role="form"
                  class="form-horizontal form form_ajax" id="fos_user_security_check">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <div class="input2 box-label-input">
                    <label for="username"
                           class="tooltip__title">E-mail:</label>
                    <input type="text" class="form__inp" id="username" name="_username"
                           value="{{ last_username }}" required="required"/>
                </div>


                <div class="input2 box-label-input">
                    <label for="password" class="tooltip__title">Пароль:</label>

                    <input type="password" class="form__inp" id="password" name="_password"
                           required="required"/>
                </div>
                <input type="hidden" id="remember_me" name="_remember_me" value="1"/>

                <div class="form__box" id="fos_user_security_check_global_errors">
                </div>
                <div class="center">
                    <input type="submit" id="_submit" name="_submit" class="blueButton" value="Войти"/>
                </div>
                {% include ':misc:loader.html.twig' %}
            </form>
        {% endblock %}
    {% endblock %}
{% endblock fos_user_content %}
