
{% block checkbox_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label  for="{{ id }}"><i></i>{{ label|trans({}, translation_domain) }}</label>
    {% endspaceless %}
{% endblock checkbox_widget %}