{% block radio_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label for="{{ id }}"><i class="t2"></i>{{ label|trans({}, translation_domain) }}</label>
    {% endspaceless %}
{% endblock radio_widget %}