{% extends '::email.html.twig' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
    {{ text }}
    <br>
    Пароль: {{ password }}
    Подтверждение: {{ url_confirm }}
{% endblock %}