<div class="infoEvent">
    <div>Мероприятие: <a target="_blank" href="{{ path('events_view', {'url': event.url}) }}">{{ event.name }}</a></div>
    <div>Пользователь: <a target="_blank"
                          href="{{ path('profiles_view', {'url':client.url}) }}">{{ client.firstname }} {{ client.lastname }}</a>
    </div>
    <div>Дата и время: <span>{{ tp_event }}</span></div>
    <div>Количество человек: <span>{{ ticket.cntTickets }}</span></div>
    {% if ticket.service | length %}
        <div>Доп. услуги: <span>
        {% for service in ticket.service %}
            {{ service.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
                </span>
        </div>
    {% endif %}
    <div>Полная стоимость: <span>{{ ticket.fullPrice }} руб.</span></div>
</div>