{% extends '::base_cabinet.html.twig' %}

{% block body %}
    <div class="inner">
        <div class="left">
            <h2>Рабочий стол</h2>
            {% include 'PersonalAreaBundle:misc:cabinet_breadcrumbs.html.twig' with {'bc_add_text': 'Рабочий стол'} %}
        </div>
        {{ render(controller('PersonalAreaBundle:Payment:render')) }}

        <div class="clear border"></div>
        {{ form_start(form_check_ticket) }}
        <h4>{{ form_label(form_check_ticket.code) }}</h4>

        <div id="personalareabundle_descktop_check_ticket_form_global_errors" class="form_global_errors">
        </div>

        <div class="input inspection box-label-input">
            {{ form_widget(form_check_ticket.code) }}

            <button type="submit" class="blueButton">Проверить</button>
        </div>
        {{ form_end(form_check_ticket) }}
        {% if not events is null %}
            <div id="desktop_events_all" class="clearfix" style="position: relative; clear: both;">
                <h4>Выбор мероприятия:</h4>
                {#<span class="spantext">Каждый веб-разработчик знает, что такое текст-«рыба»</span>#}
                <select id="desktop_event_select">
                    {% for event in events %}
                        <option value="{{ event.id }}"
                                {% if event_select and event.id == event_select %}selected="selected"{% endif %}>{{ event.name }}</option>
                    {% endfor %}
                </select>

                <div id="table_dates_event">
                    {{ table_desktop | raw }}
                </div>
                {% include ':misc:loader.html.twig' %}
            </div>
        {% else %}
            <h4>Выбор мероприятия:</h4>
            {#<span class="spantext">Каждый веб-разработчик знает, что такое текст-«рыба»</span>#}
            <select>
                <option selected disabled>Выберите мероприятие...</option>
                <option>Выбор мероприятия</option>
                <option>Выбор мероприятия 2</option>
            </select>
            <table class="colorTable desk">
                <tr class="colors">
                    <td colspan="12"></td>
                </tr>
                <tr class="blue">
                    <td><span class="date">1 января <span>суббота</span></span></td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                </tr>
                <tr class="blue">
                    <td><span class="date">2 января <span>воскресенье</span></span></td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                </tr>
                <tr>
                    <td><span class="date">3 января <span>понедельник</span></span></td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td class="colspaned tdTime" colspan="2">
                        <div>10:00 - 11:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                    <td>
                        <div class="tdTime">10:00</div>
                    </td>
                </tr>
                <tr class="colors">
                    <td colspan="12"></td>
                </tr>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block modals %}

    <div class="fancy-popup-modal" id="desktop_tp_click_popup">
        <div class="modalBlock">
            <div class="fancy-close close"></div>
            <h3>Выбрать действие:</h3>

            <div class="clear border"></div>
            {% form_theme form_tp_select ':form_widgets:radio_with_icon.html.twig' %}
            {{ form_start(form_tp_select) }}
            {% for ts in form_tp_select.type_select %}
                <div class="radiobox">
                    {% if loop.first %}
                        {{ form_widget(ts, {'attr': {'class': 'find-dealer__radio'}}) }}
                    {% else %}
                        {{ form_widget(ts, {'attr': {'class': 'find-dealer__radio', 'checked': 'checked'}}) }}
                        {{ form_widget(form_tp_select.cnt_reserv, {'attr': {'class': 'show'}}) }}
                        {{ form_label(form_tp_select.cnt_reserv) }}
                    {% endif %}
                </div>
            {% endfor %}
            {{ form_widget(form_tp_select.tp) }}


            <div class="clear border"></div>
            <input type="submit" class="blueButton" value="Выбрать"/>
            {% include ":misc:loader.html.twig" %}
            {{ form_end(form_tp_select) }}
        </div>
    </div>

    <div class="fancy-popup-modal" id="desktop_check_ticket_success">
        <div class="modalBlock">
            <div class="fancy-close close"></div>
            <h3>Найдена информация по введеному коду:</h3>

            <div class="clear border"></div>
            <div id="find_ticket_data">

            </div>


            <div class="clear border"></div>
            <div class="blueButton fancy-close">Закрыть</div>
        </div>
    </div>

    <div class="fancy-popup-modal" id="desktop_check_ticket_fail">
        <div class="modalBlock">
            <div class="fancy-close close"></div>
            <h3>Ошибка!</h3>

            <div class="clear border"></div>
            <div id="find_ticket_data_fail">
                <p>По данному коду ничего не найдено!</p>
            </div>


            <div class="clear border"></div>
            <div class="blueButton fancy-close">Закрыть</div>
        </div>
    </div>

{% endblock %}