<table class="colorTable desk">
    <tr class="colors">
        <td colspan="2"></td>
    </tr>
    {% for data1_day, data1 in array_by_day %}
        <tr class="blue">
            <td>
                {% if ':diff' in data1_day %}
                    <span class="date">{% for tp1 in data1 %}{% if loop.first %}{{ tp1.dateevent|localizeddate('long', 'none', null, null, 'd MMMM') }} - {% endif %}{% if loop.last %}{{ tp1.dateeventend|localizeddate('long', 'none', null, null, 'd MMMM') }}{% endif %}{% endfor %}</span>
                {% else %}
                    <span class="date">{{ data1_day|localizeddate('long', 'none', null, null, 'd MMMM') }}
                        <span>{{ data1_day|localizeddate('full', 'none', null, null, 'EEEE') }}</span></span>
                {% endif %}
            </td>
            <td>
                {% if ':diff' in data1_day %}
                    {% for tp1 in data1 %}
                        <div class="tdTime" data-id="{{ tp1.id }}" data-max="{{ tp1.places - tp1.countTicketsBuy }}">
                            {% if loop.first %}
                                {{ tp1.dateevent|localizeddate('long', 'none', null, null, 'd MMMM') }} {{ tp1.timefrom|date("H:i") }} -
                            {% endif %}
                            {% if loop.last %}
                                {{ tp1.dateeventend|localizeddate('long', 'none', null, null, 'd MMMM') }} {{ tp1.timeto|date("H:i") }}
                            {% endif %}
                            <br>
                            {% if tp1.price %}{{ tp1.price }} руб.{% else %}Бесплатно{% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    {% for tp1 in data1 %}
                        <div class="tdTime" data-id="{{ tp1.id }}" data-max="{{ tp1.places - tp1.countTicketsBuy }}">{{ tp1.timefrom|date("H:i") }}
                            - {{ tp1.timeto|date("H:i") }}
                            <br> {% if tp1.price %}{{ tp1.price }} руб.{% else %}Бесплатно{% endif %}</div>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr class="colors">
        <td colspan="2"></td>
    </tr>
</table>