{% extends "::base_cabinet.html.twig" %}

{% block body %}
    <div class="inner headColumn">
        <div class="left">
            <h2>Рефералка</h2>
            {% include 'PersonalAreaBundle:misc:cabinet_breadcrumbs.html.twig' with {'bc_add_text': 'Рефералка'} %}
        </div>
        <div class="clear border"></div>
        <div class="buttonsReferal">
            <div>
                <div id="users1" class="active change_referral_view_list">Закрепленные за мной</div>
                {% if vk_auth %}
                    <div id="users2" class="change_referral_view_list">Приглашенные, но не зарегистрированные</div>
                    <div id="users3" class="change_referral_view_list">Не приглашенные</div>
                    {% if show_synh_vk_users %}
                        <div id="users4">
                            <button class="blueButton">
                                <img src="/bundles/app/img/sinchronize-24.png" alt="Обновить список друзей"
                                     title="Обновить список друзей">
                            </button>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if not vk_auth %}
            <div class="user_auth_vk">
                <div class="text_auth_vk">Авторизуйтесь через vk чтобы приглашать друзей</div>
                <div class="auth_vk_block">
                    {{ include('UloginAuthBundle::widget.html.twig', {
                        "uLoginID": "4974d296",
                        'request': app.request,
                        'active': false,
                        'fb_show': false,
                        'gplus_show': false,
                        'odnoclass_show': false
                    }) }}
                </div>
            </div>
        {% endif %}
        <div class="referalUsers users1" style="display: block;">
            {% for referral in user.myReferral %}
                <div>
                    {% set path_to_logo %}
                        {% path referral.userReferral.avatar, 'small' %}
                    {% endset %}
                    <a href="{{ path('profiles_view',{'url': referral.userReferral.url}) }}">
                        <div class="photo"
                             style="background:url({% if path_to_logo|trim %}{{ path_to_logo|trim }}{% else %}/bundles/app/img/common_logo.png{% endif %});"></div>
                    </a>

                    <div class="right">
                        <div class="name"><a
                                    href="{{ path('profiles_view',{'url': referral.userReferral.url}) }}">{{ referral.userReferral.firstname }} {{ referral.userReferral.lastname }}</a>
                        </div>
                        <div class="itogReferal">Получено: <span class="blue">{{ referral.summ }}Р</span></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% for ulogin in app.user.ulogin %}
            {% if ulogin.network == 'vkontakte' %}
                <div class="referalUsers users2" style="display: none;">
                    {% for vkusers in user.userRelVK %}
                        {% if vkusers.vkusers.sendRequest == true and vkusers.vkusers.confirmedSuccess == false %}
                            <div>
                                <div class="photo" style="background:url({{ vkusers.vkusers.photo100 }});"></div>
                                <div class="right">
                                    <div class="name"><a href="https://vk.com/id{{ vkusers.vkusers.vkid }}"
                                                         target="_blank">{{ vkusers.vkusers.firstName }} {{ vkusers.vkusers.lastName }}</a>
                                    </div>
                                    <div class="itogReferal">{{ vkusers.dateSendRequest|date("d.m.Y H:i") }}</div>
                                    {#<div class="itogReferal">Получено: <span class="blue">1000Р</span></div>#}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="referalUsers users3" style="display: none;">
                    {% for vkusers in user.userRelVK %}
                        {% if vkusers.vkusers.sendRequest == false and vkusers.vkusers.confirmedSuccess == false %}
                            <div class="block_vk_user">
                                <div class="photo" style="background:url({{ vkusers.vkusers.photo100 }});"></div>
                                <div class="right">
                                    <div class="name"><a href="https://vk.com/id{{ vkusers.vkusers.vkid }}"
                                                         target="_blank">{{ vkusers.vkusers.firstName }} {{ vkusers.vkusers.lastName }}</a>
                                    </div>
                                    <div class="itogReferal" style="display: none"></div>
                                    <button class="blueButton js-send-message-vk"
                                            data-vkid="{{ vkusers.vkusers.vkid }}">Пригласить
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}