{% if events.currentPageNumber == 1 %}
<div class="events data_block">
    {% endif %}
    {% if not events is null %}
        {% for event in events %}
            {% include '@Events/block/block_event.html.twig' with {'event': event} %}
        {% endfor %}
    {% endif %}
    {% if events.currentPageNumber == 1 %}
</div>
{% endif %}
{{ knp_pagination_render(events, null, {'url': url}) }}