{% extends base_template %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/app/less/login-box.css') }}">
{% endblock %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}

{% block sonata_wrapper %}

   <div class="login-wrapp">
    	 <div class="login-box">
    	    <div class="login-logo">
    	        <a href="{{ path('sonata_admin_dashboard') }}">
    	            {% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
    	                <span>{{ admin_pool.title }}</span>
    	            {% endif %}
    	        </a>
    	    </div>
    	    <div class="login-box-body">
    	        {% block sonata_user_login_form %}
    	            {% block sonata_user_login_error %}
    	                {% if error %}
    	                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'FOSUserBundle') }}</div>
    	                {% endif %}
    	            {% endblock %}
    	            <p class="login-box-msg">{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}</p>
    	            <form action="{{ path("sonata_user_admin_security_check") }}" method="post" role="form">
    	                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

    	                <div class="form-group has-feedback">
    	                    <input type="text" class="form-control" id="username" name="_username"
    	                           value="{{ last_username }}" required="required"
    	                           placeholder="{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}"/>
    	                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
    	                </div>

    	                <div class="form-group has-feedback">
    	                    <input type="password" class="form-control" id="password" name="_password" required="required"
    	                           placeholder="{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}"/>
    	                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    	                </div>

    	                <div class="row">
    	                    <div class="col-xs-8">
    	                        <div class="checkbox ">
    	                            <label>
    	                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
    	                                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
    	                            </label>
    	                        </div>
    	                    </div>
    	                    <div class="col-xs-4">
    	                        <button type="submit"
    	                                class="btn btn-primary btn-block btn-flat">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
    	                    </div>
    	                </div>
    	            </form>

    	            {#<a href="{{ path('sonata_user_admin_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>#}
    	            <a href="{{ reset_route }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>
    	        {% endblock %}
    	    </div>
    	</div>
    </div>

{% endblock sonata_wrapper %}
