<table>
    <tbody>
    {% if not tickets is null %}
        {% for ticket in tickets %}
            {% include 'PersonalAreaBundle:History:tr_load.html.twig' with {'ticket': ticket} %}
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{{ knp_pagination_render(tickets, null, {'type': type}) }}