{% extends '::base_cabinet.html.twig' %}

{% block body %}
    <div class="inner">
        <div class="left">
            <h2>История покупок</h2>
            {% include 'PersonalAreaBundle:misc:cabinet_breadcrumbs.html.twig' with {'bc_add_text': 'История покупок'} %}
        </div>
        {{ render(controller('PersonalAreaBundle:Payment:render')) }}

        <div class="clear border"></div>
        <div class="input">
            <a href="{{ path('personal_area_company.history', {'type': 'buyMe'}) }}"
               class="{% if type == 'buyMe' %}blueButton{% else %}borderButton{% endif %}">Покупки у меня</a>
            <a href="{{ path('personal_area_company.history', {'type': 'your'}) }}"
               class="{% if type == 'your' %}blueButton{% else %}borderButton{% endif %}">Мои покупки</a>
        </div>


        <div id="show_table_tickets">
            {{ render(controller('PersonalAreaBundle:History:load', {
                'type': type,
                'page': 1
            })) }}
        </div>
    </div>
{% endblock %}

