{% if tickets.currentPageNumber == 1 %}
<table class="colorTable history data_block">
    <tbody>
    <tr class="head">
        <td>№</td>
        <td>Пользователь</td>
        <td>Название мероприятия</td>
        <td>Дата и время</td>
        <td>Кол-во мест</td>
        <td>Итог</td>
        <td>Код</td>
    </tr>
    <tr class="colors">
        <td colspan="7"></td>
    </tr>
    {% endif %}
    {% if not tickets is null %}
        {% for ticket in tickets %}
            {% include 'PersonalAreaBundle:History:tr_load.html.twig' with {'ticket': ticket} %}
        {% endfor %}
    {% endif %}
    {% if tickets.currentPageNumber == 1 %}
    <tr class="colors">
        <td colspan="7"></td>
    </tr>
    </tbody>
</table>
{% endif %}
{{ knp_pagination_render(tickets, null, {'type': type}) }}