<tr>
    <td>{{ ticket.id }}</td>
    <td>
        <a href="{{ path('profiles_view', {'url': ticket.timeprices.event.company.url }) }}">
            {% if ticket.timeprices.event.company.typeCompany == 5 %}
                {{ ticket.timeprices.event.company.usercompany.firstname }} {{ ticket.timeprices.event.company.usercompany.lastname }}
            {% else %}
                {{ ticket.timeprices.event.company.nameCompany }}
            {% endif %}
        </a>
    </td>
    <td>
        <a href="{{ path('events_view', {'url': ticket.timeprices.event.url }) }}">
            {{ ticket.timeprices.event.name }}
        </a>
    </td>
    <td>{{ ticket.timeprices.dateevent|date('d.m.Y') }} в {{ ticket.timeprices.timefrom|date('H:i') }}</td>
    <td>{{ ticket.cntTickets }}</td>
    <td>{% if ticket.fullprice %}{{ ticket.fullprice }}{% else %}0{% endif %} P</td>
    <td>{{ ticket.code }}</td>
</tr>