{% extends '::base.html.twig' %}

    {% block leftColumn %}
        {% include 'CompanysBundle:misc:left_menu.html.twig' with {'comapny': company, 'name_left_menu': 'Мероприятия организатора'} %}
    {% endblock %}

{% block body %}
    {% include 'CompanysBundle:misc:company_info.html.twig' with {'comapny': company} %}
    <div class="inner">
        <div class="titleLine">
            <h2>Мероприятия</h2>
        </div>
        {{ render(controller('CompanysBundle:Events:load', {
            'url': company.url,
            'page': 1
        })) }}
    </div>
{% endblock %}