{% extends '::base.html.twig' %}

    {% block leftColumn %}
        {% include 'CompanysBundle:misc:left_menu.html.twig' with {'comapny': company, 'name_left_menu': 'Мероприятия организатора'} %}
    {% endblock %}

{% block body %}
    {% include 'CompanysBundle:misc:company_info.html.twig' with {'comapny': company} %}
    <div class="inner">
        <div class="titleLine">
            <h2>Отзывы</h2>

            <div class="blueButton addReview">Добавить отзыв</div>
        </div>
        <div class="reviews textBlock">
            <div class="review">
                <div class="head">
                    <div class="photo" style="background:url(/bundles/app/img/photo.jpg)"></div>
                    <div class="nameBlock">
                        <div class="name">Мария Сальникова</div>
                        <span> 2 марта 2016г.</span>
                    </div>
                    <div class="ratig">
                        <span>Оценка:</span>

                        <div class="wrapRating">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="clear border2"></div>
                    <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет
                        никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на
                        интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и
                        т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую
                        нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при
                        оценке качества восприятия макета.</p>

                    <div class="images">
                        <div article="/bundles/app/img/originals/photo1.jpg"
                             style="background:url(/bundles/app/img/originals/photo1.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo3.jpg"
                             style="background:url(/bundles/app/img/originals/photo3.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo4.jpg"
                             style="background:url(/bundles/app/img/originals/photo4.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo5.jpg"
                             style="background:url(/bundles/app/img/originals/photo5.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo1.jpg"
                             style="background:url(/bundles/app/img/originals/photo1.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo3.jpg"
                             style="background:url(/bundles/app/img/originals/photo3.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo4.jpg"
                             style="background:url(/bundles/app/img/originals/photo4.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo5.jpg"
                             style="background:url(/bundles/app/img/originals/photo5.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo1.jpg"
                             style="background:url(/bundles/app/img/originals/photo1.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo3.jpg"
                             style="background:url(/bundles/app/img/originals/photo3.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo4.jpg"
                             style="background:url(/bundles/app/img/originals/photo4.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo5.jpg"
                             style="background:url(/bundles/app/img/originals/photo5.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo1.jpg"
                             style="background:url(/bundles/app/img/originals/photo1.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo3.jpg"
                             style="background:url(/bundles/app/img/originals/photo3.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo4.jpg"
                             style="background:url(/bundles/app/img/originals/photo4.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo5.jpg"
                             style="background:url(/bundles/app/img/originals/photo5.jpg);"></div>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="head">
                    <div class="photo" style="background:url(/bundles/app/img/photo.jpg)"></div>
                    <div class="nameBlock">
                        <div class="name">Мария Сальникова</div>
                        <span> 2 марта 2016г.</span>
                    </div>
                    <div class="ratig">
                        <span>Оценка:</span>

                        <div class="wrapRating">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="clear border2"></div>
                    <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет
                        никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на
                        интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и
                        т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую
                        нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при
                        оценке качества восприятия макета.</p>

                    <div class="images">
                        <div article="/bundles/app/img/originals/photo1.jpg"
                             style="background:url(/bundles/app/img/originals/photo1.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo2.jpg"
                             style="background:url(/bundles/app/img/originals/photo2.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo3.jpg"
                             style="background:url(/bundles/app/img/originals/photo3.jpg);"></div>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="head">
                    <div class="photo" style="background:url(/bundles/app/img/photo.jpg)"></div>
                    <div class="nameBlock">
                        <div class="name">Мария Сальникова</div>
                        <span> 2 марта 2016г.</span>
                    </div>
                    <div class="ratig">
                        <span>Оценка:</span>

                        <div class="wrapRating">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="clear border2"></div>
                    <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет
                        никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на
                        интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и
                        т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую
                        нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при
                        оценке качества восприятия макета.</p>

                    <div class="images">
                        <div article="/bundles/app/img/originals/photo1.jpg"
                             style="background:url(/bundles/app/img/originals/photo1.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo2.jpg"
                             style="background:url(/bundles/app/img/originals/photo2.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo3.jpg"
                             style="background:url(/bundles/app/img/originals/photo3.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo3.jpg"
                             style="background:url(/bundles/app/img/originals/photo3.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo3.jpg"
                             style="background:url(/bundles/app/img/originals/photo3.jpg);"></div>
                        <div article="/bundles/app/img/originals/photo3.jpg"
                             style="background:url(/bundles/app/img/originals/photo3.jpg);"></div>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="head">
                    <div class="photo" style="background:url(/bundles/app/img/photo.jpg)"></div>
                    <div class="nameBlock">
                        <div class="name">Мария Сальникова</div>
                        <span> 2 марта 2016г.</span>
                    </div>
                    <div class="ratig">
                        <span>Оценка:</span>

                        <div class="wrapRating">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="clear border2"></div>
                    <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет
                        никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на
                        интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и
                        т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую
                        нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при
                        оценке качества восприятия макета.</p>
                </div>
            </div>
            <div class="review">
                <div class="head">
                    <div class="photo" style="background:url(/bundles/app/img/photo.jpg)"></div>
                    <div class="nameBlock">
                        <div class="name">Мария Сальникова</div>
                        <span> 2 марта 2016г.</span>
                    </div>
                    <div class="ratig">
                        <span>Оценка:</span>

                        <div class="wrapRating">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="clear border2"></div>
                    <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет
                        никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на
                        интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и
                        т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую
                        нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при
                        оценке качества восприятия макета.</p>

                    <div class="images">
                        <div article="/bundles/app/img/originals/photo2.jpg"
                             style="background:url(/bundles/app/img/originals/photo2.jpg);"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blueButton fullWidthBt" id="viewAllReviews">Показать все отзывы</div>
    </div>
{% endblock %}