{% extends '::base.html.twig' %}

{% block leftColumn %}
    {% include 'CompanysBundle:misc:left_menu.html.twig' with {'comapny': company, 'name_left_menu': 'Страница организатора'} %}
{% endblock %}

{% block modals %}
    {% if app.user and form_comment is defined %}
        <div class="fancy-popup-modal" id="add_comment_form_modal">
            <div class="modalBlock">
                <div class="fancy-close close"></div>
                <h3>Оставить комментарий</h3>

                <div class="clear border"></div>
                {{ form_start(form_comment) }}

                <div class="input box-label-input">
                    {{ form_label(form_comment.text) }}
                    {{ form_widget(form_comment.text) }}
                </div>
                <div class="input box-label-input stars-input">
                    {{ form_label(form_comment.rating_quality) }}
                    {{ form_widget(form_comment.rating_quality) }}
                </div>
                <div class="input box-label-input stars-input">
                    {{ form_label(form_comment.rating_saturation) }}
                    {{ form_widget(form_comment.rating_saturation) }}
                </div>
                <div class="input box-label-input stars-input">
                    {{ form_label(form_comment.rating_interestingness) }}
                    {{ form_widget(form_comment.rating_interestingness) }}
                </div>

                <div class="input">
                    <div id="preview-wrapper_{{ form_comment.vars.id }}_form" class="dropzone-preview-list"></div>
                </div>
                <div class="input">
                    <div class="dropzone-previews dz-message">
                        <div class="">Вы можете поместить сюда свои фотографии</div>
                    </div>
                </div>

                <div class="form__box" id="profilebundle_comment_global_errors">
                </div>
                <div class="input">
                    <input type="submit" class="blueButton" value="Отправить">
                </div>
                {% include ":misc:loader.html.twig" %}
                {{ form_end(form_comment) }}

                <div class="clear border"></div>
                <div class="blueButton fancy-close">Закрыть</div>
            </div>
        </div>
        <div class="fancy-popup-modal" id="send-comment-company_success">
            <div class="modalBlock">
                <div class="fancy-close close"></div>
                <h3>Комментарий отправлен</h3>

                <div class="clear border"></div>
                <p>Вы успешно оставили комментарий к данному мероприятию!</p>

                <div class="clear border"></div>
                <div class="blueButton fancy-close">Закрыть</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {#<link rel="stylesheet" href="{{ asset('bundles/app/js/dropzone/dist/basic.css') }}">#}
    <link rel="stylesheet" href="{{ asset('bundles/app/js/dropzone/dist/dropzone.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/app/js/fileInputs/js/custom-file-input.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jQuery-File-Upload-9.12.1/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/app/js/dropzone/dist/dropzone.js') }}"></script>
{% endblock %}

{% block body %}
    {% include 'CompanysBundle:misc:company_info.html.twig' with {'comapny': company, 'evaluation': evaluation} %}
    <div class="inner">
        <div class="titleLine">
            <h2>Отзывы</h2>

            {% if app.user and form_comment is defined %}
                <a href="javascript:void(0);" data-href="#add_comment_form_modal"
                   class="blueButton popup-link addReview">Добавить отзыв</a>
            {% endif %}
        </div>
        <div id="list_comments_company">
            {{ render(controller('AppBundle:Reviews:load', {
                'company_id': company.id,
                'page': 1
            })) }}
        </div>
    </div>
{% endblock %}