<div class="leftColumn">
    <div class="inner">
        <h2>Страница пользователя</h2>
        <span class="menuTitle">Меню</span>
    </div>
    <ul class="left_menu">
        <li {% if app.request.attributes.get('_route') == 'profiles_view' %}class="active"{% endif %}>
            <a href="{{ path('profiles_view', {'url': user_find.url}) }}">
                <div class="inner">История посещений<i></i></div>
            </a>
        </li>
        <li {% if app.request.attributes.get('_route') == 'profiles_view.events' %}class="active"{% endif %}>
            <a href="{{ path('profiles_view.events', {'url': user_find.url}) }}">
                <div class="inner">Запланированные мероприятия <i></i></div>
            </a>
        </li>
        <li {% if app.request.attributes.get('_route') == 'profiles_view.comments' %}class="active"{% endif %}>
            <a href="{{ path('profiles_view.comments', {'url': user_find.url}) }}">
                <div class="inner">Отзывы о мероприятиях<i></i></div>
            </a>
        </li>
    </ul>
    <div id="arrowSlide"></div>
</div>