<div class="userBg" style="background:url(/bundles/app/img/userBg.jpg);">
    <div class="inner">

        {% set path_to_logo %}
            {% path user_find.avatar, 'big' %}
        {% endset %}
        {% if path_to_logo | trim %}
            <div class="photoUser" style="background:url({{ path_to_logo }});"></div>
        {% endif %}
        <div class="blackLine">
            <div class="inner">
                <h2>{{ user_find.firstname }} {{ user_find.lastname }}</h2>

                <div class="inBlackLine">
                    <span>Кол-во посещенных мероприятий: <b>{% if events_before %}{{ events_before['cnt'] }}{% else %}0{% endif %}</b></span>
                    <span>Оставленно отзывов:  <b><a href="{{ path('profiles_view.comments', {'url': user_find.url}) }}" class="text-white">{{ user_find.commentsUser | length }}</a></b></span>
                    <span>Кол-во запланированных мероприятий: <b>{% if events_after %}{{ events_after['cnt'] }}{% else %}0{% endif %}</b></span>
                </div>
            </div>
        </div>
    </div>
</div>