{% extends 'email.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block text %}{{ text | raw }}{% endblock %}
{% block phone %}{{ phone }}{% endblock %}
{% block email %}{{ email }}{% endblock %}