<form action="{{ path('fos_user_resetting_send_email') }}" id="fos_user_resetting_request" method="POST"
      class="fos_user_resetting_request form form_ajax">

    {% if invalid_username is defined %}
        <div class="form__box">
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        </div>
    {% endif %}
    <div class="form__box">
        <div class="input2 box-label-input">
            <label for="username">E-mail:</label>
            <input type="text" id="username" name="username" placeholder="E-mail">
        </div>
    </div>
    <div class="form__box" id="fos_user_resetting_request_global_errors">
    </div>
    <div class="center">
        <button type="submit" class="blueButton">Восстановить</button>
    </div>
    {% include ':misc:loader.html.twig' %}
</form>