{% trans_default_domain 'FOSUserBundle' %}

<div class="autorizateWrap">
    <div class="blackOverlay">

        <!-- page-inner -->
        <h2>Восстановление пароля</h2>

        <div class="events-section passw">
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'id':'fos_user_resetting_form','class': 'fos_user_resetting_reset form form_ajax' } }) }}

            <div class="input2 input-box">
                {{ form_label(form.plainPassword, null, {'attr': {"autocomplete": "off"}}) }}
            </div>
            <div class="input2 input-box">
                {{ form_widget(form.plainPassword, {'attr': {"autocomplete": "off"}}) }}
            </div>
            <div class="center">
                <button type="submit" class="blueButton">Далее</button>
            </div>
            {% include ':misc:loader.html.twig' %}
            {{ form_end(form) }}
        </div>

    </div>
</div>


<div class="fancy-popup-modal" id="restore-pass__reset_success">
    <div class="modalBlock">
        <div class="fancy-close close"></div>
        <h3>Изменение пароля</h3>
        <div class="clear border"></div>
        <p>Вы успешно изменили пароль к вашему аккаунту</p>
        <div class="clear border"></div>
        <div class="blueButton fancy-close">Закрыть</div>
    </div>
</div>