<div class="feedWrap">
    <div>
        <div class="titleAndTime">
            <div class="time-feed">{{ feed_block.createAt|date('H:i') }}</div>
            <div class="title">Отзыв</div>
        </div>
        {#{% include "FeedBundle:misc:event_info.html.twig" with {'event': review.event} %}#}
    </div>
    <div class="otherInfo">
        <div class="othersWrap">
            {% set path_to_logo %}
                {% path comment.user.avatar, 'small' %}
            {% endset %}
            {% if path_to_logo | trim %}
                <a href="{{ path('profiles_view', {'url':comment.user.url}) }}">
                    <div class="photo" style="background:url({{ path_to_logo }})"></div>
                </a>
            {% endif %}
            <div class="nameBlock">
                <a href="{{ path('profiles_view', {'url':comment.user.url}) }}">{{ comment.user.firstname }} {{ comment.user.lastname }}</a>
            </div>
            <div class="clear border2"></div>
            <h4>Оценки</h4>

            <div class="setRating">
                <div>
                    <span>Организация мероприятия:</span>

                    <div class="ratig">
                        <div class="wrapRating">
                            {% if comment.ratingquality > 0 %}
                                {% for rating_quality in 1..comment.ratingquality|round(0, 'floor') %}
                                    <div></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div>
                    <span>Насыщенность программы:</span>

                    <div class="ratig">
                        <div class="wrapRating">
                            {% if comment.ratingsaturation > 0 %}
                                {% for rating_saturation in 1..comment.ratingsaturation|round(0, 'floor') %}
                                    <div></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div>
                    <span>Интересность:</span>

                    <div class="ratig">
                        <div class="wrapRating">
                            {% if comment.ratinginterestingness > 0 %}
                                {% for rating_interestingness in 1..comment.ratinginterestingness|round(0, 'floor') %}
                                    <div></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear border2"></div>
            <h4>Текст отзыва</h4>

            <div class="clearfix"></div>
            <p>{{ comment.text }}</p>
        </div>
    </div>
    <div class="whiteGradient"></div>
</div>