<div class="feedWrap">
    <div>
        <div class="titleAndTime">
            <div class="time-feed">{{ feed_block.createAt|date('H:i') }}</div>
            <div class="title">Новое мероприятие</div>
        </div>
        {% include "FeedBundle:misc:event_info.html.twig" with {'event': event} %}
    </div>
    <div class="otherInfo">
        <div class="othersWrap">

            {% set path_to_logo %}
                {% if event.company.typeCompany == 5 %}
                    {% path event.company.usercompany.avatar, 'small' %}
                {% else %}
                    {% path event.company.logo, 'small' %}
                {% endif %}
            {% endset %}
            {% if path_to_logo|trim %}
                <div class="logo" style="background:url({{ path_to_logo|trim }});"></div>
            {% endif %}
            <div class="nameBlock">
                <div class="name">Организатор: <a
                            href="{{ path('company_view', {'url': event.company.url}) }}">{% if event.company.typeCompany == 5 %}{{ event.company.usercompany.firstname }} {{ event.company.usercompany.lastname }}{% else %}{{ event.company.nameCompany }}{% endif %}</a>
                </div>
            </div>
            <div class="clear border2"></div>
            <h4>Информация о мероприятии</h4>

            <p>{{ event.description }}</p>
        </div>
    </div>
    <div class="whiteGradient"></div>
</div>