<div class="feedWrap">
    <div>
        <div class="titleAndTime">
            <div class="time-feed">{{ feed_block.createAt|date('H:i') }}</div>
            <div class="title">Вопрос</div>
        </div>
        {% include "FeedBundle:misc:event_info.html.twig" with {'event': question.event} %}
    </div>
    <div class="otherInfo">
        <div class="othersWrap">
            {% set path_to_logo %}
                {% path question.user.avatar, 'small' %}
            {% endset %}
            {% if path_to_logo | trim %}
                <a href="{{ path('profiles_view', {'url':question.user.url}) }}">
                    <div class="photo" style="background:url({{ path_to_logo }})"></div>
                </a>
            {% endif %}
            <div class="nameBlock">
                <div class="name">
                    <a href="{{ path('profiles_view', {'url':question.user.url}) }}">{{ question.user.firstname }} {{ question.user.lastname }}</a>
                </div>
            </div>
            <div class="clear border2"></div>
            <h4>Текст отзыва</h4>

            <p>{{ question.text }}</p>
            <h4>Ответ на вопрос</h4>
            <div class="clearfix"></div>

            <p>{{ question.answer }}</p>
        </div>
    </div>
    <div class="whiteGradient"></div>
</div>