<div class="feedWrap js-block-question">
    <div>
        <div class="titleAndTime">
            <div class="time-feed">{% if feed_block.createAt|date("Y-m-d") == 'now'|date('Y-m-d') %}{{ feed_block.createAt|date('H:i') }}{% else %}{{ feed_block.createAt|localizeddate('long', 'none', null, null, 'd MMMM в H:mm') }}{% endif %}</div>
            <div class="title">Новый вопрос</div>
        </div>
        {% include "FeedBundle:misc:event_info.html.twig" with {'event': question.event} %}
    </div>
    <div class="otherInfo">
        <div class="othersWrap">
            {% set path_to_logo %}
                {% path question.user.avatar, 'small' %}
            {% endset %}
            {% if path_to_logo | trim %}
                <a href="{{ path('profiles_view', {'url':question.user.url}) }}">
                    <div class="photo" style="background:url({{ path_to_logo }})"></div>
                </a>
            {% endif %}
            <div class="nameBlock">
                <div class="name"><a
                            href="{{ path('profiles_view', {'url':question.user.url}) }}">{{ question.user.firstname }} {{ question.user.lastname }}</a>
                </div>
                <div class="clear border2"></div>
                <h4>Вопрос</h4>

                <p>{{ question.text }}</p>
                <h4>Ответ на вопрос</h4>
                <div class="switcher_form_button">
                    <div class="switch_to_form">
                        <button class="blueButton show_form_answer_queston" data-id="{{ question.id }}">Ответить на вопрос
                        </button>
                    </div>
                    <div class="switch_to_button" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
        <div class="whiteGradient"></div>
    </div>
</div>