<div class="feedWrap">
    {% set event = ticket.timeprices.event %}
    <div>
        <div class="titleAndTime">
            <div class="time-feed">{{ feed_block.createAt|date('H:i') }}</div>
            <div class="title">Покупка билета</div>
        </div>
        {% include "FeedBundle:misc:event_info.html.twig" with {'event': event} %}
    </div>
    <div class="otherInfo">
        <div class="othersWrap">

            {% set path_to_logo %}
                {% path ticket.user.avatar, 'small' %}
            {% endset %}
            {% if path_to_logo | trim %}
                <a href="{{ path('profiles_view', {'url':ticket.user.url}) }}">
                    <div class="photo" style="background:url({{ path_to_logo }})"></div>
                </a>
            {% endif %}
            <div class="nameBlock">
                <div class="name">
                    <a href="{{ path('profiles_view', {'url':ticket.user.url}) }}">{{ ticket.user.firstname }} {{ ticket.user.lastname }}</a>
                </div>
            </div>
            <div class="clear border2"></div>
            <h4>Информация о покупке</h4>

            <div class="info_ticket">
                <p>Куплено былетов: {{ ticket.cntTickets }}</p>
                {% if ticket.service | length %}
                    <div class="dop_service">
                        Доп. услуги:
                        {% for serv1 in ticket.service %}
                            <p>{{ serv1.name }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="full_price_ticket">
                    Полная стоимость покупки: <span>{{ ticket.fullprice }} Руб.</span>
                </div>
            </div>
            <div class="clear border2"></div>
            <h4>Информация о мероприятии</h4>

            <p>{{ event.description }}</p>
        </div>
    </div>
    <div class="whiteGradient"></div>
</div>