<div class="feedWrap js-block-wacomment">
    <div>
        <div class="titleAndTime">
            <div class="time-feed">{% if feed_block.createAt|date("Y-m-d") == 'now'|date('Y-m-d') %}{{ feed_block.createAt|date('H:i') }}{% else %}{{ feed_block.createAt|localizeddate('long', 'none', null, null, 'd MMMM в H:mm') }}{% endif %}</div>
            <div class="title">Оставить комментарий на посещенное мероприятие:</div>
        </div>
        {% include "FeedBundle:misc:event_info.html.twig" with {'event': feed_block.ticket.timeprices.event} %}
    </div>
    <div class="otherInfo">
        <div class="othersWrap">
            {% set path_to_logo %}
                {% path block_feed.onlyuser.avatar, 'small' %}
            {% endset %}
            {% if path_to_logo | trim %}
                <a href="{{ path('profiles_view', {'url':block_feed.onlyuser.url}) }}">
                    <div class="photo" style="background:url({{ path_to_logo }})"></div>
                </a>
            {% endif %}
            <div class="nameBlock">
                <div class="name"><a
                            href="{{ path('profiles_view', {'url':block_feed.onlyuser.url}) }}">{{ block_feed.onlyuser.firstname }} {{ block_feed.onlyuser.lastname }}</a>
                    {{ feed_block.ticket.timeprices.dateeventend|date('d.m.Y') }}
                    в {{ feed_block.ticket.timeprices.timeto|date('H:i') }}
                </div>
                <div class="clear border2"></div>
                <h4>Ваш комментарий</h4>

                <div class="switcher_form_button">
                    <div class="switch_to_form">
                        <button class="blueButton show_form_make_comment" data-id="{{ feed_block.ticket.timeprices.event.id }}" data-feed="{{ feed_block.id }}">Оставить
                            комментарий
                        </button>
                    </div>
                    <div class="switch_to_button" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
        <div class="whiteGradient"></div>
    </div>
</div>