{% extends '::base.html.twig' %}


{% block body %}
    <div class="mainFilterWrap">
        <div class="mainFilter">
            <div class="inner noHidden">


                {% form_theme form_search ':form_widgets:checkbox_with_icon.html.twig' %}
                {{ form_start(form_search) }}
                <div class="segment">
                    <h5>Организатор:</h5>

                    <div class="checkbox">
                        {{ form_widget(form_search.organizer_city, {'attr': {'class': 'main_filter_events'}}) }}
                    </div>
                    <div class="checkbox">
                        {{ form_widget(form_search.organizer_company, {'attr': {'class': 'main_filter_events'}}) }}
                    </div>
                    <div class="checkbox">
                        {{ form_widget(form_search.organizer_man, {'attr': {'class': 'main_filter_events'}}) }}
                    </div>
                </div>
                <div class="segment">
                    <h5>Для кого:</h5>

                    <div class="checkbox">
                        {{ form_widget(form_search.forWoman, {'attr': {'class': 'main_filter_events'}}) }}
                        {#{{ form_label(form_search.forWoman) }}#}
                    </div>
                    <div class="checkbox">
                        {{ form_widget(form_search.forMan, {'attr': {'class': 'main_filter_events'}}) }}
                        {#{{ form_label(form_search.forMan) }}#}
                    </div>
                    <div class="checkbox">
                        {{ form_widget(form_search.forElderly, {'attr': {'class': 'main_filter_events'}}) }}
                        {#{{ form_label(form_search.forElderly) }}#}
                    </div>
                </div>
                {{ form_widget(form_search.period_from, {'attr': {'class': 'filter-date'}}) }}
                {{ form_widget(form_search.period_to) }}
                {{ form_widget(form_search.menu) }}
                {% include ':misc:loader.html.twig' %}
                {{ form_end(form_search) }}
            </div>
            <div class="clear border"></div>
        </div>
    </div>
    <div class="inner noHidden" id="list_main_events">
        {{ content_event | raw }}
    </div>
    <input type="hidden" id="charity_search" value="{{ charity_search }}" style="display: none;">
{% endblock %}