{% extends '::base_cabinet.html.twig' %}


{% block body %}
    <div class="inner">
        <div class="left">
            <h2>Рабочий стол</h2>

            <div class="breadcrumbs">
                <a href="/">Главная</a>
                <span>-</span>
                <a href="/">Личный кабинет</a>
                <span>-</span>
                <span>Рабочий стол</span>
            </div>
        </div>
        <div class="balance">
            <div>Общий баланс: <span class="blue">1000Р</span></div>
            <div>Баланс с доступными средствами для вывода: <span class="green">1000Р</span></div>
            <div class="blueButton">Вывести деньги</div>
        </div>
        <div class="clear border"></div>
        <h4>Проверки пользователя по коду:</h4>
        <span class="spantext">Каждый веб-разработчик знает, что такое текст-«рыба»</span>

        <div class="input inspection">
            <input type="text">

            <div class="blueButton">Проверить</div>
        </div>
        <h4>Выбор мероприятия:</h4>
        <span class="spantext">Каждый веб-разработчик знает, что такое текст-«рыба»</span>
        <select>
            <option selected disabled>Выберите мероприятие...</option>
            <option>Выбор мероприятия</option>
            <option>Выбор мероприятия 2</option>
        </select>
        <table class="colorTable desk">
            <tr class="colors">
                <td colspan="12"></td>
            </tr>
            <tr class="blue">
                <td><span class="date">1 января <span>суббота</span></span></td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
            </tr>
            <tr class="blue">
                <td><span class="date">2 января <span>воскресенье</span></span></td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
            </tr>
            <tr>
                <td><span class="date">3 января <span>понедельник</span></span></td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td class="colspaned tdTime" colspan="2">
                    <div>10:00 - 11:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
                <td>
                    <div class="tdTime">10:00</div>
                </td>
            </tr>
            <tr class="colors">
                <td colspan="12"></td>
            </tr>
        </table>
    </div>
{% endblock %}